{%
  set venue = {
      'title'       : 'Cubbon Park'
    , 'subtitle'    : 'Bangalore'
    , 'poster'      : 'http://farm5.staticflickr.com/4077/4903893428_675abc33c3_z.jpg'
    , 'courtesy'    : '<a target="_blank" href="http://www.flickr.com/photos/krishnamani/4903893428/">Krish</a>'
    , 'address'     : 'Cubbon Park,<br>Queen\'s Rd, Ambedkar Veedhi,<br>Sampangi Rama Nagar,<br>Bangalore, Karnataka 560001 '
    , 'map'         : {
        'osm'       : {
            'label' : 'Cubbon Park, Bangalore'
          , 'zoom'  : 14
          , 'marker': '12.9814, 77.5963'
        }
      , 'google'    : 'http://goo.gl/maps/PpKkr'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
  }
%}