{%
  set venue = {
      'title'       : 'Cubbon Park'
    , 'subtitle'    : 'Bangalore'
    , 'poster'      : 'http://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Cubbon_Park_-_Bamboo_green..JPG/640px-Cubbon_Park_-_Bamboo_green..JPG'
    , 'address'     : 'Cubbon Park,<br>Queen\'s Rd, Ambedkar Veedhi,<br>Sampangi Rama Nagar,<br>Bangalore, Karnataka 560001 '
    , 'map'         : {
        'osm'       : {
            'label' : 'Cubbon Park, Bangalore'
          , 'zoom'  : 14
          , 'marker': '12.9814, 77.5963'
        }
      , 'google'    : 'http://goo.gl/maps/PpKkr'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
  }
%}