{% 
  set event = {
      'title' : 'HasGeek 5k'
    , 'id'    : '5k'
    , 'blurb' : '<p>Can\'t have enough of Meta Refresh? Keep your spirits up for one more day with a 5k run on 7AM on Sunday, Feb 16 at the MG Road Queen\'s Park entrance to Cubbon Park. <span class="semibold">Run or walk five kilometres</span> with your fellow Meta Refresh participants.</p><p>Starting 2014, the HasGeek 5k accompanies every conference.</p>'
    , 'when'  : '16 February 2014'
  }
%}
{% 
  set nav = [
      {
        'display' : 'RSVP'
      , 'link'    : '5k#5k-rsvp'
    }
    , {
        'display' : 'Venue'
      , 'link'    : '5k#5k-venue'
    }
  ] 
%}

