{%
  set types = [
    {
        'id'    : 'special-offer'
      , 'title' : 'Special Offer'
    }
    , {
        'id'    : 'budget'
      , 'title' : 'Budget<br>[Less than 1500]'
    }
    , {
        'id'    : 'delux'
      , 'title' : 'Delux<br>[1500 - 3000]'
    }
    , {
        'id'    : 'luxury'
      , 'title' : 'Luxury<br>[3000 &amp; above]'
    }
  ]
%}  
{%
  set items = [
    {
        'title'   : 'Nandhini Hotel'
      , 'id'      : 'nandhini-hotel'
      , 'type'    : 'budget'
      , 'link'    : '<a href="mailto:reservationjpn@nandhini.com">reservationjpn@nandhini.com</a>'
      , 'address' : '# 726/A, 24 th Main Road,<br>6th Phase, J P Nagar,<br>Bangalore - 560 078'
      , 'contact' : '<a href="tel:+918040355566">080-40355566</a><br><a href="tel:+918040355566">080-26649521</a>'
      , 'distance': '1.7'
    }
    , {
        'title'   : 'Crystal Castle'
      , 'id'      : 'crystal-castle'
      , 'type'    : 'delux'
      , 'link'    : '<a target="_blank" href="http://www.crystalcastle.in">www.crystalcastle.in</a><br><a href="mailto:enquiry@crystalcastle.in">enquiry@crystalcastle.in'
      , 'address' : '#294/10, 24th Main,<br>JP Nagar 5th Phase,<br>Bangalore-560078'
      , 'contact' : '<a href="tel:+918040355566">080-49008600</a><br><a href="tel:+918040355566">+919900058570</a>'
      , 'distance': '1.4'
    }
    , {
        'title'   : 'Cross Roads Inn'
      , 'id'      : 'cross-roads-inn'
      , 'type'    : 'delux'
      , 'link'    : '<a target="_blank" href="http://www.crossroadsinn.in">www.crossroadsinn.in</a><br><a href="mailto:enquiry@crossroadsinn.in">enquiry@crossroadsinn.in'
      , 'address' : '#827, 24th main,<br>12th Cross, 2nd , J P Nagar,<br>Bangalore - 560078'
      , 'contact' : '<a href="tel:+918040355566">080-26588620</a><br><a href="tel:+918040355566">080-26588623</a>'
      , 'distance': '2.0'
    }
    , {
        'title'   : 'HHI Hotel'
      , 'id'      : 'hhi-hotel'
      , 'type'    : 'delux'
      , 'address' : '15th Cross,Ring Road,<br>J.P Nagar, II Phase,<br>Bangalore - 560078'
      , 'contact' : '<a href="tel:+918040355566">08 40761500</a><br><a href="tel:+918040355566">09731766305</a>'
      , 'distance': '2.9'
    }
    , {
        'title'   : 'Savoury Sea Shell'
      , 'id'      : 'savoury-sea-shell'
      , 'type'    : 'delux'
      , 'address' : 'No.10, Bhavani Layout,<br>Next to Maruthi Sagar Automobiles,<br>Bannerghatta Main Road,<br>Bangalore - 560 029'
      , 'contact' : '<a href="tel:+918040355566">080-49355500</a><br><a href="tel:+918040355566">080-49355511</a><br><a href="tel:+918040355566">09738 883 963</a><br><a href="tel:+918040355566">9945 747 714</a>'
    }
    , {
        'title'   : 'Aurick hotels'
      , 'id'      : 'auric-hotels'
      , 'type'    : 'luxury'
      , 'link'    : '<a target="_blank" href="http://www.aurickhotels.com">www.aurickhotels.com</a>'
      , 'address' : '6th Phase, J.P.Nagar<br>Bengaluru-560078 '
      , 'contact' : '<a href="tel:+918040355566">080-49011000</a>'
      , 'distance': '2.3'
    }
    , {
        'title'   : 'Brigade Homestead'
      , 'id'      : 'brigade-homestead'
      , 'type'    : 'luxury'
      , 'link'    : '<a target="_blank" href="http://www.homesteadbangalore.com">www.homesteadbangalore.com</a><br><a href="mailto:hs4@homesteadbangalore.com">hs4@homesteadbangalore.com'
      , 'address' : 'No 500, 40th cross, <br>8th Block Jayanagar, <br>Bangalore – 560 070'
      , 'contact' : '<a href="tel:+918040355566">80-4005 3333</a><br><a href="tel:+918040355566">97413-07421</a>'
      , 'distance': '4.4'
    }
    , {
        'title'   : 'Woodrose Club'
      , 'id'      : 'woodrose-club'
      , 'type'    : 'luxury'
      , 'link'    : '<a target="_blank" href="http://www.woodroseclub.com">www.woodroseclub.com</a><br><a href="mailto:enquiry@woodroseclub.com">enquiry@woodroseclub.com'
      , 'address' : 'Brigade Millennium Campus, <br>7th Phase, J. P. Nagar <br>Bangalore 560 078'
      , 'contact' : '<a href="tel:+918040355566">80 4199 5999</a><br><a href="tel:+918040355566">91 98 8040 5401</a>'
      , 'distance': '.350'
    }
  ]
%}