{%
  set types = {
  }
%}
{%
  set sessions = {
      'session-10-00-A' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-10-00-B' : {
        'id'          : 'session-10-00-B'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }

    , 'session-10-45-A' : {
        'id'          : 'session-10-45-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false

    }

    
    , 'session-10-45-B' : {
        'id'          : 'session-10-45-B'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false

    }
    , 'session-11-45-A' : {
        'id'          : 'session-11-45-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-11-45-B' : {
        'id'          : 'session-11-45-B'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-12-30-A' : {
        'id'          : 'session-12-30-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-12-30-B' : {
        'id'          : 'session-12-30-B'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-02-00-A' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-02-00-B' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-02-45-A' : {
        'id'          : 'session-02-45-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-02-45-B' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-03-45-A' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-03-45-B' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-04-30-A' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }
    , 'session-04-30-B' : {
        'id'          : 'session-10-00-A'
      , 'title'       : 'Session'
      , 'speaker'     : 'Speaker'
      , 'designation' : 'Designation'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/metarefresh2014/'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/'
      , 'featured'    : false
    }

    , 'lightning-talks-05-15-A' : {
        'id'          : 'lightning-talks-05-15-A'
      , 'title'       : 'Lightning Talks'
      , 'designation' : '5mins talks'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#lightning-talks-05-15-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'featured'    : false
    }
    , 'lightning-talks-05-15-B' : {
        'id'          : 'lightning-talks-05-15-A'
      , 'title'       : 'Lightning Talks'
      , 'designation' : '5mins talks'
      , 'type'        : ''
      , 'blurb'       : 'Will be updated soon'
      , 'link'        : 'conference#lightning-talks-05-15-A'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'featured'    : false
    }
  }
%}
