{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'conference'
    , 'date'  : '16 - 17 April'
    , 'list'  : [
        {
          'slot'      : '09:15 am'
        , 'title'    : 'Introductions'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : '1334-whats-your-web'
        , 'track2'    : '1343-a-deep-dive-into-css-blend-modes'
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : '1340-how-i-learned-to-stop-worrying-and-love-the-flux'
        , 'track2'    : '1292-building-application-frontends-the-web-components-'
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : '1347-we-dont-hate-the-web'
        , 'track2'    : '1336-i-will-javascript-you'
      }
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : '1348-design-for-delight'
        , 'track2'    : '1276-real-time-communications-on-mobile'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : '1328-making-maps-work-on-mobile'
        , 'track2'    : '1320-a-framework-for-building-data-driven-interactive-f'
      }
      , {
          'slot'      : '02:20 pm'
        , 'track1'    : '1318-why-and-how-to-test-webpages-across-multiple-devic'
        , 'track2'    : '1281-perffirst-optimizing-the-critical-rendering-path'
      }
      , {
          'slot'      : '02:40 pm'
        , 'track1'    : '1300-uis-as-values'
        , 'track2'    : '1306-dom-animations-almost-native' 
      }
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : 'flash'
        , 'track2'    : '1277-running-mobile-games-at-60fps'
        , 'duration'  : '45 mins'
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : 'Tea Break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '04:15 pm'
        , 'track1'    : '1332-now-that-we-have-an-app-lets-kill-our-mobile-site'
        , 'track2'    : 'flash'
      } 
      , {
          'slot'      : '05:30 pm'
        , 'track1'    : ''
        , 'track2'    : '1346-mobiles-stepchild-a-cleartrip-experience'
        , 'duration'  : '45 mins'
      }     
    ]
  }
%}