{% 
  set event = {
      'title' : 'Conference'
    , 'id'    : 'talks'
    , 'blurb' : ''
    , 'when'          : '14 - 15 February 2014'
  }
%}
{% from theme("data/conference-schedule.html") import schedule as schedule %}
{% if schedule is defined %}
  {% 
    set nav = [
      {
          'display' : 'Talks'
        , 'link'    : 'conference#sessions'
      }
      , {
          'display' : 'Schedule'
        , 'link'    : 'conference#schedule'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'conference#conference-venue'
      }
    ] 
  %}
{% else %}
  {% 
    set nav = [
        {
          'display' : 'Talks'
        , 'link'    : 'conference#talks'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'conference#conference-venue'
      }
    ] 
  %}
{% endif %}

{% from theme("data/sessions.html") import talks, types %}
{% 
  set session = {
      'id'    : 'talks'
    , 'label' : 'Talks'
    , 'link'  : 'conference#talks'
    , 'list'  : talks.values()
    , 'types' : types
  }
%}
