{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'conference'
    , 'date'  : '14 - 15 February'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Check-in &amp; <a class="link-silent" href="http://github.com/">Github</a>-powered-Breakfast'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '09:15 am'
        , 'title'    : 'introductions'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : '987-a-front-end-architects-diary-rebuilding-freecharge'
        , 'track2'    : '996-faster-and-coincidentally-more-secure-webfonts'
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : '957-how-viable-is-a-minimum-viable-product'
        , 'track2'    : '1026-all-about-perceived-web-performance'
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : '986-data-driven-ux-decisions'
        , 'track2'    : '940-micro-interactions-designing-the-details'
      }
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : '989-books-browser-on-offline-reading-redefined'
        , 'track2'    : '964-modern-web-graphics-design-using-svg'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : '1016-mobile-first-approach-the-key-to-cross-platform-in'
        , 'track2'    : '971-playing-with-photoshop-files-for-fun-and-profit'
      }
      , {
          'slot'      : '02:15 pm'
        , 'track1'    : '1031-designing-at-break-neck-speed'
        , 'track2'    : '999-save-time-and-your-brains-cpu-cycles-with-gulpjs'
      }
      , {
          'slot'      : '02:30 pm'
        , 'track1'    : '991-develop-to-design-a-guide-to-emergency-design-for-'
        , 'track2'    : '960-css-3-animations-and-transitional-interfaces'
      } 
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : '1032-web-is-flux'
        , 'track2'    : '969-components-now'
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '04:15 pm'
        , 'track1'    : 'flash-talks'
        , 'track2'    : '977-desktop-the-final-frontier'
      }
      , {
          'slot'      : '5:00 pm'
        , 'track1'    : '1021-what-we-learnt-at-ia-when-working-on-large-scale-d'
        , 'track2'    : 'design-hacks'
      } 
      , {
          'slot'      : '5:30 pm'
        , 'track1'    : ''
        , 'track2'    : 'closing'
      }      
    ]
  }
%}