{%
  set types = {
  }
%}
{%
  set sessions = {
      'real-time-comm' : {
        'id'          : 'real-time-comm'
      , 'title'       : 'Realtime Communications on Mobile'
      , 'speaker'     : 'Thomas Gorissen'
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#real-time-comm'
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/47bec01d6912480f99e1fdb70ec09479.jpeg'
      , 'funnel'      : 'https://metarefresh.talkfunnel.com/2015/1276-real-time-communications-on-mobile'
      , 'preview'     : 'https://hasgeek.tv/metarefresh/2015-previews/1052-real-time-communications-on-mobile'
      , 'featured'    : false
    }
  }
%}
