{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'conference'
    , 'date'  : '14 - 15 February'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Registrations and breakfast'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '09:15 am'
        , 'title'    : 'introductions'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : '987-a-front-end-architects-diary-rebuilding-freecharge'
        , 'track2'    : '996-faster-and-coincidentally-more-secure-webfonts'
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : '957-how-viable-is-a-minimum-viable-product'
        , 'track2'    : '1026-all-about-perceived-web-performance'
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : '986-data-driven-ux-decisions'
        , 'track2'    : '940-micro-interactions-designing-the-details'
      }
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : '989-books-browser-on-offline-reading-redefined'
        , 'track2'    : '964-modern-web-graphics-design-using-svg'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }
      , {
          'slot'      : '02:00 pm'
        , 'title'     : 'Crisp Talks'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : '959-form-accessibility-demystified'
        , 'track2'    : '969-components-now'
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '04:15 pm'
        , 'track1'    : '1021-what-we-learnt-at-ia-when-working-on-large-scale-d'
        , 'track2'    : '977-desktop-the-final-frontier'
      }
      , {
          'slot'      : '5:00 pm'
        , 'title'     : 'Closing'
        , 'duration'  : ''
      }    
    ]
  }
%}