{%
  set items = [
    {
        'id'    : 'sunit'
      , 'name'  : 'Sunit Singh'
      , 'position': 'Editor'
      , 'designation': 'Cleartrip'
      , 'twitter' : 'surdattack' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/4ee615cfb2764a24b158617753893336'
    }
    , {
        'id'    : 'angad'
      , 'name'  : 'Angad Kingra'
      , 'designation': 'Uncommon'
      , 'twitter' : 'SirLoondry'  
      , 'photo' : 'https://images.hasgeek.com/embed/file/aa8ed1e7fedb458db98e16fadde367c4'
    }
    , {
        'id'    : 'rahul'
      , 'name'  : 'Rahul Gonsalves'
      , 'designation': 'Uncommon'
      , 'twitter' : 'gonsalves_r'        
      , 'photo' : 'https://images.hasgeek.com/embed/file/a302e0a92ede4d9aa3db17e1d59dfed5'
    }
    , {
        'id'    : 'kiran'
      , 'name'  : 'Kiran Jonnalagadda'
      , 'designation': 'HasGeek'
      , 'twitter' : 'jackerhack' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/91c90da040d5448186d74dec82524d90'
    }
    , {
        'id'    : 'jitendra'
      , 'name'  : 'Jitendra Vyas'
      , 'designation': 'Milaap'
      , 'twitter' : 'jitendravyas' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/23fbab562eee4e7cbf5bd2beae0de2e7'
    }
    , {
        'id'    : 'pooja'
      , 'name'  : 'Pooja Saxena'
      , 'designation': 'Pareidolic'
      , 'twitter' : 'anexasajoop' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/0837194ed00a4a94998860e55c6d2fdf?size=300x300'
    }
    , {
        'id'    : 'arpan'
      , 'name'  : 'Arpan Chinta'
      , 'designation': 'Uncommon'
      , 'twitter' : 'arpancj' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/a9937b442b3a445aad0c20c40e0efef2.jpeg'
    }
  ]
%}