{%
  set items = [
    {
        'id'    : 'sunit'
      , 'name'  : 'Sunit Singh'
      , 'designation': 'Cleartrip'
      , 'twitter' : 'surdattack' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/4ee615cfb2764a24b158617753893336'
    }
    , {
        'id'    : 'souvik'
      , 'name'  : 'Souvik Das Gupta'
      , 'designation': 'Miranj'
      , 'twitter' : 'souvikdg' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/dc6bdbfc9f894c01a1e1bb842a75d8e1.jpeg'
    }
    , {
        'id'    : 'arpan'
      , 'name'  : 'Arpan Chinta'
      , 'designation': 'Uncommon'
      , 'twitter' : 'arpancj' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/a9937b442b3a445aad0c20c40e0efef2.jpeg'
    }
  ]
%}