{%
  set types = [
    {
        'id'    : 'special-offer'
      , 'title' : 'Special Offer'
    }
    , {
        'id'    : 'budget'
      , 'title' : 'Budget'
    }
    , {
        'id'    : 'delux'
      , 'title' : 'Delux'
    }
    , {
        'id'    : 'luxury'
      , 'title' : 'Luxury'
    }
  ]
%}  
{%
  set items = [
    {
        'title'   : 'Nandhini Hotel'
      , 'id'      : 'nandhini-hotel'
      , 'type'    : 'budget'
      , 'link'    : 'reservationjpn@nandhini.com'
      , 'address' : '# 726/A, 24 th Main Road,<br>6th Phase, J P Nagar,<br>Bangalore - 560 078'
      , 'contact' : '<a href="tel:+918040355566">080-40355566</a><br><a href="tel:+918040355566">080-26649521</a>'
      , 'distance': '1.7'
    }
    , {
        'title'   : 'Crystal Castle'
      , 'id'      : 'crystal-castle'
      , 'type'    : 'budget'
      , 'link'    : 'www.crystalcastle.in'
      , 'address' : '24th Main, JP Nagar 5th Phase,<br>Bangalore-560078'
      , 'contact' : '<a href="tel:+918040355566">080-49008600</a><br><a href="tel:+918040355566">+919900058570</a>'
      , 'distance': '1.0'
    }
    , {
        'title'   : 'Cross Roads Inn'
      , 'id'      : 'cross-roads-inn'
      , 'type'    : 'delux'
      , 'link'    : 'www.crossroadsinn.in'
      , 'address' : '# 726/A, 24 th Main Road,<br>6th Phase, J P Nagar,<br>Bangalore - 560 078'
      , 'contact' : '<a href="tel:+918040355566">080-40355566</a><br><a href="tel:+918040355566">080-26649521</a>'
      , 'distance': '2.0'
    }
  ]
%}