{% 
  set event = {
      'title' : 'AngularJS Miniconf'
    , 'id'    : 'miniconf'
    , 'blurb' : 'HasGeek is organizing a miniconf on AngularJS on 11th February 2014 in prior to Meta Refresh. Only limited seats are available. <span class="semibold">Its free for first 50 Meta Refresh conference ticket purchasers </span>(RSVP below to ensure your presence). If you want to get a seperate ticket for miniconf (<span class="semibold">Rs. 1000</span>), grab it from here:<br><div class="link-silent space-line-top"><a href="http://angularjs-miniconf.doattend.com/" class="button secondary-prose semibold" target="_blank">Buy Miniconf Ticket</a></div>'
    , 'when'  : '11 February 2014'
  }
%}
{% 
  set nav = [
      {
        'display' : 'RSVP'
      , 'link'    : 'miniconf#miniconf-rsvp'
    }
    , {
        'display' : 'Venue'
      , 'link'    : 'miniconf#miniconf-venue'
    }
  ] 
%}

