{%
  set items = [
    {
        'id'    : 'sunit'
      , 'name'  : 'Sunit Singh'
      , 'designation': 'Cleartrip'
      , 'twitter' : 'surdattack' 
      , 'photo' : theme_static('img/program-committee/Sunit_Singh.jpg')
    }
    , {
        'id'    : 'angad'
      , 'name'  : 'Angad Kingra'
      , 'designation': 'Zomato'
      , 'twitter' : 'SirLoondry'  
      , 'photo' : theme_static('img/program-committee/Angad_Kingra.jpg')
    }
    , {
        'id'    : 'rahul'
      , 'name'  : 'Rahul Gonsalves'
      , 'designation': 'Uncommon'
      , 'twitter' : 'gonsalves_r'        
      , 'photo' : theme_static('img/program-committee/Rahul_Gonsalves.jpg')
    }
    , {
        'id'    : 'kiran'
      , 'name'  : 'Kiran Jonnalagadda'
      , 'designation': 'HasGeek'
      , 'twitter' : 'jackerhack' 
      , 'photo' : theme_static('img/program-committee/Kiran_Jonnalagadda.jpg')
    }
    , {
        'id'    : 'jitendra'
      , 'name'  : 'Jitendra Vyas'
      , 'designation': 'Milaap'
      , 'twitter' : 'jitendravyas' 
      , 'photo' : theme_static('img/program-committee/Jitendra_Vyas.jpg')
    }
    , {
        'id'    : 'pooja'
      , 'name'  : 'Pooja Saxena'
      , 'designation': 'Pareidolic'
      , 'twitter' : 'anexasajoop' 
      , 'photo' : theme_static('img/program-committee/Pooja_Saxena.jpg')
    }
  ]
%}