{%
  set types = [
    {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
    , {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'partners'
      , 'title' : 'Startup sponsor'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'lanyard'
      , 'title' : 'Lanyard sponsor'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community'
      , 'size'  : 's'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'startup'
      , 'title' : 'Startup Sponsors'
      , 'size'  : 'm'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
    
  ]
%}
<!--

{
        'title'       : 'Multunus'
      , 'id'          : 'multunus'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/cfbe795d79ad4b6e925900a6377cf689.png'
      , 'link'        : 'http://multunus.com/'
      , 'type'        : 'bronze'
      , 'blurb'       : ''
    }
    , 

-->
