{%
  set items = [
    {
        'type'        : 'Early Geek'
      , 'price'       : '2300'
      , 'end_date'    : '15th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of conference</li>
                          <li>Expo area</li>
                          <li>Breakfast &amp; Lunch</li>
                        </ul>'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : 'January 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Four days of conference &amp; workshops</li>
                          <li>Ticket sponsorship credit &amp; Custom invoice</li>
                          <li>Event T-Shirt</li>
                        </ul>'
    }
    ,{
        'type'        : 'Early Geek Workshops'
      , 'price'       : '2000'
      , 'end_date'    : '15th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of workshops</li>
                          <li>Breakfast &amp; Lunch</li>                       
                          <li>&nbsp;</li>
                        </ul>'
    }
  ]
%}