{%
  set items = [
    {
        'type'        : 'Super Early Geek'
      , 'price'       : '2000'
      , 'end_date'    : '31st October 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of talks &amp; discussions</li>
                          <li>Expo area + Breakfast &amp; Lunch</li>
                        </ul>'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : 'January 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Ticket sponsorship credit + Custom invoice</li>
                          <li>Event T-Shirt</li>
                        </ul>'
    }
    ,{
        'type'        : 'Early Geek Workshops'
      , 'price'       : '2000'
      , 'end_date'    : '15th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of workshops</li>
                          <li></li>
                          <li>Breakfast &amp; Lunch</li>
                        </ul>'
    }
  ]
%}