{%
  set items = [
    {
        'type'        : 'Regular'
      , 'price'       : '2600'
      , 'end_date'    : '7th February 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of conference</li>
                          <li>+ Miniconf (<a target="_blank" href="/2014/angularjs-miniconf#miniconf-rsvp">need to RSVP</a>)</li>
                          <li>Expo area</li>
                          <li>Breakfast &amp; Lunch</li>
                        </ul>'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : '13th February 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>4 days of conference &amp; workshops</li>
                          <li>Ticket sponsorship credit &amp; Custom invoice</li>
                          <li>Event T-Shirt</li>                     
                          <li class="hidden-lg">&nbsp;</li>
                        </ul>'
    }
    ,{
        'type'        : 'Workshops'
      , 'price'       : '3000'
      , 'end_date'    : '11th February 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of workshops</li>
                          <li>Breakfast &amp; Lunch</li>                       
                          <li>&nbsp;</li>                       
                          <li>&nbsp;</li>
                        </ul>'
    }
    ,{
        'type'        : 'Miniconf'
      , 'price'       : '1000'
      , 'end_date'    : '10th February 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>One day of Miniconf</li>
                          <li>Breakfast &amp; Lunch</li>                       
                          <li>&nbsp;</li>                       
                          <li><a href="http://angularjs-miniconf.doattend.com/" class="tiny">Buy ticket <i class="icon-double-angle-right"></i></a></li>
                        </ul>'
    }
  ]
%}