{% 
  set event = {
      'title' : 'Workshops'
    , 'when'  : '12 - 13 February 2014'
    , 'blurb' : ''  
  }
%}
{% from theme("data/workshop-schedule.html") import schedule %}
{% if schedule is defined %}
  {% 
    set nav = [
      {
          'display' : 'Sessions'
        , 'link'    : 'conference#sessions'
      }
      , {
          'display' : 'Schedule'
        , 'link'    : 'conference#schedule'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'conference#conference-venue'
      }
    ] 
  %}
{% else %}
  {% 
    set nav = [
        {
          'display' : 'Sessions'
        , 'link'    : 'conference#talks'
      }
    ] 
  %}
{% endif %}


{% 
  set action = ''
%}
{% from theme("data/sessions.html") import workshops, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Sessions'
    , 'link'  : 'workshops#sessions'
    , 'list'  : workshops.values()
    , 'types' : types
  }
%}