{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'workshops'
    , 'date'  : '12 - 13 February'
    , 'list'  : [
     {
          'slot'      : '09:30 am'
        , 'title'    : 'Registrations'
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'    : '938-making-design-decisions'
        , 'track2'    : '1000-embracing-progressive-enhancement'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : '952-the-design-superheroes-who-uses-modern-design-work'
        , 'track2'    : '1017-responsive-web-design-done-right'
      }   
    ]
  }
%}