{%
  set types = [
    {
        'id'    : 'special-offer'
      , 'title' : 'Special Offer'
    }
    , {
        'id'    : 'budget'
      , 'title' : '[1000 - 2500]'
    }
    , {
        'id'    : 'delux'
      , 'title' : 'Delux<br>[1500 - 3000]'
    }
    , {
        'id'    : 'luxury'
      , 'title' : 'Luxury<br>[3000 &amp; above]'
    }
  ]
%}  
{%
  set items = [
    {
        'title'   : 'Aranha Homes'
      , 'id'      : 'aranha-homes'
      , 'type'    : 'budget'
      , 'link'    : '<a href="http://aranha.in/" target="_blank">http://aranha.in/</a><br><a href="mailto:reservations@aranha.in">reservations@aranha.in</a>'
      , 'address' : ' #148, 2nd Cross, <br>Domlur 2nd Stage, Indiranagar,<br> Bangalore 560071'
      , 'contact' : '<a href="tel:+918040355566">+ 91 98866 92750</a><br><a href="tel:+918040355566">+ 91 80 2535 2020 / 30</a><br><a href="tel:+918040355566">+91 80 41649020</a>'
      , 'distance': 'Just Opposite<br> 0'
    }
    , {
        'title'   : 'Amber Inn'
      , 'id'      : 'amber-inn'
      , 'type'    : 'budget'
      , 'link'    : '<a href="http://www.amberinn.in/" target="_blank">http://www.amberinn.in/</a>'
      , 'address' : ' No.46, 2nd floor, 9th Main,<br>80 feet road, HAL 3rd Stage, <br>Indiranagar, Bangalore-560075.'
      , 'contact' : '<a href="tel:+918040355566">0 9916071100</a>'
      , 'distance': '2.1'
    }
    , {
        'title'   : '9 Marks Inn'
      , 'id'      : '9-marks-inn'
      , 'type'    : 'budget'
      , 'link'    : '<a href="http://www.cleartrip.com/hotels/info/9-marks-inn-indiranagar-380263" target="_blank">http://www.cleartrip.com/hotels/info/9-marks-inn-indiranagar-380263</a>'
      , 'address' : 'No 345,12th Cross,1st Stage, <br>CMH Road, Indiranagar , <br>Karnataka,38'
      , 'contact' : '<a href="tel:+918040355566">0 9916071100</a>'
      , 'distance': '1.9'
    }
    , {
        'title'   : 'Hotel Royal Habitat'
      , 'id'      : 'amber-inn'
      , 'type'    : 'budget'
      , 'link'    : '<a href="http://www.amberinn.in/" target="_blank">http://www.amberinn.in/</a>'
      , 'address' : 'No.3535, 2nd Cross,<br>13th Main, HAL 2nd Stage,<br>Indiranagar, Bangalore'
      , 'contact' : '<a href="tel:+918040355566">+91 9880832340</a> (Contact person: Mr. Anand)'
      , 'distance': '1'
    }

    
  ]
%}