{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'workshops'
    , 'date'  : '15th & 18th April'
    , 'list'  : [
     {
          'slot'      : '09:30 am'
        , 'title'    : 'Registrations'
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'    : '1326-a-quick-and-hopefully-painless-ride-through-reactj'
        , 'track2'    : '1327-profile-profile-profile'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }   
    ]
  }
%}