{%
  set venue = {
      'title'       : 'HasGeek'
    , 'subtitle'    : 'Domlur'
    , 'address'     : 'HasGeek, <br>2699, 19th Main Rd, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008<br>'
    , 'map'         : {
        'osm'       : {
            'label' : 'HasGeek'
          , 'zoom'  : 14
          , 'marker': '12.9616494,77.6432436'
        }
      , 'google'    : 'https://goo.gl/maps/rPWgxTAfxHz'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9616494,77.6432436'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
  }
%}