{% 
  set event = {
      'title' : 'Workshop'
    , 'when'  : '10 Sep 2016'
    , 'blurb' : '<p>Good Enough Design for Responsive Web Apps</p><p>One-day workshop on coordinating responsive web design on 10 September: Saneef Ansari and Brajeshwari Oinam will show you how to create a good (enough) system and custom front-end patterns for your web app that works across devices of any screen size, and speed up development by helping your team coordinate using a living style guide.</p>'  
  }
%}


{% 
  set action = ''
%}
{% from theme("data/sessions.html") import workshops, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Workshops'
    , 'link'  : 'workshops#sessions'
    , 'list'  : workshops.values()
    , 'types' : types
  }
%}