{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule.html") import schedule as schedule %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',               '')
      , ('conference-schedule', 'yellow')
      , ('past-highlights',           'blue')
      , ('venue-summary',             'brown')
      , ('sponsors-summary',          'yellow')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<header class="masthead-home fill-yellow"><!-- 
  <div class="left-bg"></div>
  <div class="right-bg"></div>
  <div class="center-bg"></div> -->
  <div class="container">
    <div class="row space-one-top">
      <div class="">
        <h1 class="logo-text center-block"></h1>
      </div>
    </div>
    <div class="row masthead-banner">
      <div class="space-three-bottom">
        <div class="center-block space-one-top" id="frame">
          
          <div id="screen" class="all-caps push-two-bottom text-center semibold">
            <div class="link line0 ">Conference on</div>        
            <div class="link line1">Enhancing</div>
            <div class="link line2"><span class="part1">Web</span> <br class="visible-mob"><span class="part2">experiences</span></div>
            <div class="link line3"><span class="part1">on</span> <br class="visible-mob"><span class="part2">mobile</span></div>

          </div>
          <div id="screen-bottom" class="white legible-prose semibold text-center fill-blue">16 - 17 April 2015, Bangalore</div>
        </div>
        <div id="platform-top" class="center-block"></div>
        <div id="platform-base" class="center-block">        
        </div>
        <a href="https://in.explara.com/beta/meta-refresh"><div id="screen-button" class="text-center bold center-block legible-prose">BUY YOUR TICKET</div></a>
      </div>

    </div>
  </div>
</header>
{% endblock %}
