{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',          '')
      , ('tickets',          'blue')
      , ('funnel-proposals',           '')
      , ('program-committee',           'yellow')
      , ('past-highlights',           'blue')
      , ('venue-summary',             'brown')
      , ('sponsors-summary',          'yellow')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<header class="masthead-home fill-yellow"><!-- 
  <div class="left-bg"></div>
  <div class="right-bg"></div>
  <div class="center-bg"></div> -->
  <div class="container">
    <div class="row space-one-top">
      <div class="">
        <h1 class="logo-text center-block"></h1>
      </div>
    </div>
    <div class="row masthead-banner">
      <div class="space-three-bottom">
        <div class="center-block space-one-top" id="frame">
          
          <div id="screen" class="all-caps semibold">
            <div class="link line0 ">Conference &amp; Workshops on</div>        
            <div class="link line1">The Construction of</div>
            <div class="link line2">User interface</div>
            <div class="link line3">on the web</div>

          </div>
          <div id="screen-bottom" class="white legible-prose semibold text-center fill-blue">14 - 15 February 2013  |  Bangalore</div>
        </div>
        <div id="platform-top" class="center-block"></div>
        <div id="platform-base" class="center-block">        
        </div>
        <a href=""><div id="screen-button" class="text-center bold center-block legible-prose">BUY YOUR TICKET</div></a>
      </div>
      <!-- <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h1 class="logo-text space-two-top">
        </h1>
        <a class="ir logo hidden-xs" href="/">Droidcon India 2013</a>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 text-right">
        <h2 class="green extrabold  extralarge space-four-top"> 
          <div class="link line0 semibold">Conference &amp; Workshops on</div>        
          <div class="link line1">Construction of</div>
          <div class="link line2">User interface</div>
          <div class="link line3">on the web</div>
        </h2>
        
        <div class="intro row-fluid prose prose-type thin space-two-top">
          <div class="line4 thin">12 - 15 February 2014&nbsp;&nbsp;|&nbsp;&nbsp;Bangalore</div>
        </div>
        
        <p class="secondary space-two-top space-two-bottom">
          <a class="button" href="http://droidcon.doattend.com/">Buy your Ticket</a>
        </p>
        <p><br></p>
      </div> -->

    </div>
  </div>
</header>
{% endblock %}