{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule.html") import schedule as schedule %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',               '')
      , ('featured-talks',           'darkbrown')
      , ('schedule',           '')
      , ('venue-summary',             '')
      , ('sponsors-summary',          'darkbrown')
      , ('credits',          '')
    ]
  }
%}

{% block banner %}
<header>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="logo-wrapper">
          <a class="logo" href="/2016">
            <img src="{{ theme_static('img/logo.png') }}"/>
          </a>
        </h1>
        <h2 class="logo-heading">Meta Refresh</h2>
        <h1 class="date-venue-text">17&nbsp;September&nbsp;2016</h1>
        <h1 class="date-venue-text">MLR convention center, Bangalore</h1>
        <a href="https://www.flickr.com/photos/hasgeek/albums/72157672909976340" class="button" target="_blank">Event photos</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block navtype %}
<div id="nav-home">
  <nav class="navbar" id="site-nav" role="navigation">
    <div class="container semibold">
     <!-- Brand and toggle get grouped for better mobile display -->
    
        <div class="navbar-header visible-xs">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand white logo-text semibold" href="/2015/">Meta Refresh</a>
        </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav center-block">
          <li><a href="#announcements" class="white smooth-scroll">Announcements</a></li>
          <li><a href="#featured-talks" class="white smooth-scroll">Featured talks</a></li>
          <li><a href="#schedule" class="white smooth-scroll" target="_blank">Schedule</a></li>
          <li><a href="/2016/workshop" class="white" target="_blank">Workshop</a></li>
          <li><a href="#venue" class="white smooth-scroll">Venue</a></li>
          <li><a href="#sponsors" class="white smooth-scroll">Sponsors</a></li>
          <li><a target="_blank" href="https://hasjob.co/search?q=web" class="white">Jobs</a></li>
          <li><a href="code-of-conduct" class="white">Code of conduct</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->   
     </div>
  </nav>
</div>
{% endblock %}

<!-- {% block footerscripts %}
<style type="text/css">    
  #boxoffice-widget .boxoffice-button-action {    
    background-color: #DF5E0E;    
    border-color:  #ba500e;   
    color: #fff;    
  }   
  #boxoffice-widget .boxoffice-button-info {    
    background-color: #5BC0DE;    
    border-color: #2A9CBE;    
    color: #fff;    
  }   
  #boxoffice-widget .payment-stages-bg {    
    background-color: #765953;    
  }   
  #boxoffice-widget .progress-indicator>li {    
    color: #fff;    
  }   
  #boxoffice-widget .category-heading {   
    background-color: #9d2942;    
    border-bottom: 3px solid #781f32;   
    color: #fff;  
    line-height: 1.1;  
  }   
  #boxoffice-widget .category-heading:after {   
    border-color: #9d2942 transparent #9d2942 #9d2942;    
  }
</style>    
    
<script>    
  $(function(){   
    //Boxoffice widget    
    var boxofficeUrl = "https://boxoffice.hasgeek.com";   
    var username, userphone, useremail;   
    {% if g.user %}   
      {% if g.user.fullname %}    
        username = "{{ g.user.fullname }}";   
      {% endif %}   
      {% if g.user.phone %}   
        userphone = "{{ g.user.phone }}";   
      {% endif %}   
      useremail = "{{ g.user.email }}";   
    {% endif %}   
    $.get({   
      url: boxofficeUrl+"/api/1/boxoffice.js",    
      crossDomain: true   
    }).done(function(data) {    
      var boxofficeScript = document.createElement('script');   
      boxofficeScript.innerHTML = data.script;    
      document.getElementsByTagName('body')[0].appendChild(boxofficeScript);    
      window.Boxoffice.init({   
        org: 'hasgeek',   
        itemCollection: '5618a78c-5b01-11e6-aee5-4d52a6f8306d',   
        user_name: username,    
        user_phone: userphone,    
        user_email: useremail,    
        paymentDesc: 'Meta Refresh 2016'    
      });

      $('#boxoffice-widget').popover({
        selector: '.t-shirt-image',
        placement : 'right',
        trigger : 'hover',
        html : true
      });
      
    }).fail(function(response) {    
      var error_msg;
      if (response.readyState === 4) {
        error_msg = "Server error, please try again later";
      }
      else if (response.readyState === 0) {
        if(!navigator.onLine) {
          error_msg = "Unable to connect. There is no network!";
        }
        else {
          error_msg = "<p>Unable to connect. If you are behind a firewall or using any script blocking extension (like Privacy Badger).<p></p> Please ensure your browser can load boxoffice.hasgeek.com, api.razorpay.com and checkout.razorpay.com</p>";
        }
      }
      $('#boxoffice-widget p').html(error_msg);
    });   
  }); 
</script>
{% endblock %} -->
