<section class="featured-speakers push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
  <div class="row-fluid">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps text-center space-two-bottom">Workshop Instructors</h2>
  </div>
  {% for item in session.list -%}
    {% if item.featured %}
      {% if loop.first %}
      <div class="row-fluid space-three-top">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legible-prose">
          <ul class="space-half-top list-space-line list-plain link-silent row">
      {% endif %}
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/workshops#{{ item.id }}"><span class="img-wrapper">
                <!-- <img class="photo" src="{{ item.photo }}"> -->
                <div class="bg-photo" style="background: /* top, transparent #c7c575 */ linear-gradient(rgba(12, 165, 176, 0.2),rgba(12, 165, 176, 0.2)),/* bottom, image */url({{item.photo}});"></div>
              </span></a>
              <h3>{{ item.speaker }}</h3>
              <h5>{{ item.designation|safe }}</h5>
              <h5 class="all-caps">{{ item.place }}</h5>
              {% if item.twitter %}<h4 class="brown link-silent"><a target="_blank" href="https://twitter.com/{{ item.twitter }}">@{{ item.twitter }}</a></h4>{% endif %}
              {% if item.sponsor %}<h5 class="link-silent blue">Sponsored by <a target="_blank" href="{{ item.sponsor_link }}">{{ item.sponsor }}</a></h5>{% endif %}
              {% if item.preview %}<h5 class="link-silent orange"><a target="_blank" href="{{ item.preview }}"><i class="icon-youtube-play"></i> preview video</a></h5>{% endif %}
            </li>
      {% if loop.last %}
          </ul>
        </div>    
      </div>
      {% endif %}
    {% endif %}
  {%- endfor %}
</div>
</section>