<section class="funnel push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid space-two-bottom">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2 class="extralarge all-caps">Proposals</h2>
        <p class="secondary-prose space-two-top">Anyone is welcome to propose a session. Participants who have purchased conference tickets will vote on session proposals. The Programme Committee steering Meta Refresh will also vote on submissions and balance the community voting.</p>
        <p class="regular-prose all-caps gray space-one-bottom space-one-top">Status:&nbsp;&nbsp;<span class="green">Accepting Submissions</span></p>
        <a href="https://funnel.hasgeek.com/metarefresh2014/" class="button tiny">View proposals on Funnel</a>
      </div>    
    </div>
    <div id="funnel-links">
      <table id="funnel-listing" class="table table-bordered list-space-line list-plain link-silent">
        <thead>
          <tr>
            <th>Title</th>
            <th>By</th>
            <th>Date</th>
            <th><i class="icon-comments"></i></th>
            <th>+1</th>
          </tr>
        </thead>
        <tbody>        
        {% for proposal in node.proposals() -%}
            <tr data-section="{{ proposal['section_name'] }}" class="fill-lightgray dark semibold">
              <td><a target="_blank" href="{{ proposal['url'] }}" title="{{ proposal['title'] }}">{{ proposal['title'] }}</a></td>
              <td>{{ proposal['proposer'] }}</td>
              <td>{{ proposal['submitted']|shortdate }}</td>
              <td>{{ proposal['comments'] }}</td>
              <td>{{ proposal['votes'] }}</td>
            </tr>
        {%- else -%}
          <tr>
            <td><em>(No proposals found)</em></td>
          </tr>  
        {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>  
</section>

{% block footerscripts %}
<script type="text/javascript">
  $(function() {

    var matchtab = function() {
      var url = document.location.toString();
      if (url.match('#/')) {
        $('.nav-tabs a[href="#'+url.split('#/')[1]+'"]').tab('show');
      } else if (url.match('#')) {
        $('.nav-tabs a[href="#'+url.split('#')[1]+'"]').tab('show');
      }
    };

    // Load correct tab when fragment identifier changes
    $(window).bind('hashchange', matchtab);
    // Load correct tab when the page loads
    matchtab();
    // Change hash for tab click
    $('.nav-tabs a').on('shown', function (e) {
      window.location.hash = '#/' + e.target.hash.slice(1);
    });
    var url = document.location.toString();
    if (!url.match('#')) {
      // Activate the first tab if none are active
      $('.nav-tabs a').filter(':first').tab('show');
    }
  });
</script>
{% endblock %}