{% from "baseframe/components.html" import networkbar with context -%}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">     <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js{%- if config['DEBUG'] %} wf-active{% endif %}">        <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Let’s talk about design for mobiles, desktop and wearables.{% endif %}">
<meta name="author" content="HasGeek and friends">
<meta name="keywords" content="Conference, Workshops, User Interface, User Experience, UI, UX, Front-End, Product Design, Marketing, Traction, Accessibility, localization, Fonts, Performance, Wireframes, Prototyping, Typography, Bangalore, Bengaluru, India"> <meta name="author" content="HasGeek and friends">

<meta property="og:title" content="{% if page.title %}{{ page.title }} — Meta Refresh 2016{% else %}Meta Refresh - Conference on the construction of user interfaces on the web{% endif %}"/>
<meta property="og:image" content="https://images.hasgeek.com/embed/file/b799b85d365b4b4484a0e23ffde1b031"/>
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Let’s talk about design for mobiles, desktop and wearables.{% endif %}"/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@metarefresh" /> 
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} — Meta Refresh 2016{% else %}Conference on the construction of user interfaces on the web{% endif %}" /> 
<meta name="twitter:image" content="https://images.hasgeek.com/embed/file/1957f52ea9c54ffa9325ad630bdea8c5">

<meta property="fb:app_id" content="319940351671693" />

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<title>{% if page.title %}{{ page.title }} — Meta Refresh 2016{% else %}Meta Refresh - Conference on the construction of user interfaces on the web{% endif %}</title>

{%- if _theme %}
  {% assets "css_" + _theme -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
{%- endif %}

<!-- Leaflet -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.min.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/_baseframe/css/networkbar.css">

</head>
<body class="fill-greengray">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '319940351671693',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fill-silver">
  {% block networkbar %}
    {{ networkbar(siteid='events', login=false) }}
  {% endblock %}
</div>


<div id="page">

{% block banner %}
<header class="fill-blue banner-internal push-two resetcoords clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h1 class="nospace">
          <a class="ir logo" href="/2016">
            Meta Refresh 2015
          </a>
        </h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">
        <h1 class="extrabold legible">Meta Refresh</h1>
        <h3 class="calm tiny nospace-bottom all-caps">
          17&nbsp;September<span class="hidden-xs">il</span>&nbsp;2016
          <br>
          Bangalore
        </h3>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block navtype %}
<div id="nav-inner">
{% endblock %}
{% block nav %}
<!-- <nav class="visible-phone mob-nav"><i class="icon-reorder icon-2x nav"></i></nav> -->
<nav class="navbar" id="site-nav" role="navigation">
  <div class="container semibold">
   <!-- Brand and toggle get grouped for better mobile display -->
  
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand blue semibold" href="/2015/">Meta Refresh</a>
      </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav center-block">
        <li><a class="orange hidden-xs" href="/2016/">Meta Refresh</a></li>
        <li><a href="/2016/#tickets">Tickets</a></li>
        <li><a href="/2016/venue">Venue</a></li>
        <li><a href="/2016/sponsors">Sponsors</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!--<li><a href="/2014/5k">HasGeek 5k</a></li>
            <li><a href="/2014/tshirt">T-shirt</a></li>
            <li><a target="_blank" href="https://hasgeek.tv/metarefresh/2014-previews">Preview Videos</a></li>-->
            <li><a href="/2016/#highlights">Previous Editions</a></li>
            <li><a href="/2016/about">About HasGeek</a></li>
          </ul>
        </li>
        <li><a target="_blank" href="https://hasjob.co/search?q=web">Jobs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->   
   </div>
</nav>
{% endblock %}
</div>

{% block macro %}{% endblock %}

{% block content %}
  {% for item in page.sections  %}
    {% with %}
      {% if item is string %} {% set section = item %} {% else %} {% set section, background = item %} {% endif %}
      {% include theme('sections/'+section+'.html') %}
    {% endwith %}
  {% endfor %}
{% endblock %}


<footer class="page-footer push-two fill-brown clearfix">
  <div class="text-center tiny">
    <p class="gray">Copyright &copy; 2010–15. All rights reserved.</p>
    <p><a href="mailto:info@hasgeek.com?subject=Hello Meta Refresh">info@hasgeek.com</a> /
    <a href="tel:+918067684422" class="link-silent">+91-767-633-2020</a></p>
    <div class="link-silent space-half blue">
      <i class="icon-twitter hidden-xs"></i>&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/metarefresh">@metarefresh</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-facebook-sign hidden-xs"></i>&nbsp;&nbsp;<a target="_blank" href="https://www.facebook.com/metarefresh">metarefresh</a>
    </div>
    <p class="tiny black"><a class="" href="/2015/code-of-conduct">Code of conduct</a></p>
    <h3>
      <a class="ir hasgeek-logo center-block space-one-top" href="//hasgeek.com">
        HasGeek
      </a>
    </h3>
  </div>
</footer>


</div><!-- #page -->

<script src="{{ theme_static('js/vendor/modernizr-2.6.2.js') }}"></script>
<script src="{{ theme_static('js/vendor/jquery-2.2.0.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.js"></script>
{%- if _theme %}
  {% assets "js_" + _theme -%}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets -%}
{%- endif %}

<script>
// Google Analytics
if (location.hostname == 'metarefresh.in') {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19123154-19', 'auto');
  ga('send', 'pageview');
}
</script>

<script>
  $(window).scroll(function () {
    var currentScroll = $(this).scrollTop();
    var checkPoint;
    if(Modernizr.mq('only screen and (max-width: 45em)')){
      checkPoint = 728;
    } else if(Modernizr.mq('only screen and (min-width: 45em) and (max-width: 767px)')){
      checkPoint = 620;
    } else {
      checkPoint = 895;
    }
    if( currentScroll > checkPoint){
      $('#nav-home').addClass('navbar-fixed-top');
    }  else {
      $('#nav-home').removeClass('navbar-fixed-top');
    }
    if( currentScroll > 248){
      $('#nav-inner').addClass('navbar-fixed-top');
    }  else {
      $('#nav-inner').removeClass('navbar-fixed-top');
    }
  });
</script>
<script type="text/javascript">
  $(".popover-right").popover({ placement: 'left', animation: true, trigger: 'hover'});
  $(".popover-left").popover({ placement: 'right', animation: true, trigger: 'hover'});
</script>
<!-- <script>
 window.scrollback = {
  streams:["hasgeek"],
  minimize: true,
  theme: 'light',
  {%- if g.user %}nick: {{ g.user.username|tojson }},{% endif -%}
  ticker: true
 };
 
 /***** don't edit below *****/
 (function(d,s,h,e){e=d.createElement(s);e.async=1;
 e.src=h+'/client.min.js';scrollback.host=h;
 d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
 (document,'script',(location.protocol=="https:"?"https:":"http:")+'//scrollback.io'));
</script> -->
{% block footerscripts %}{% endblock %}
<!-- Prompt IE 6 users to install Chrome Frame. -->
<!-- chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>
