<section id="schedule" class="schedule push-two clearfix fill-blue">
  <div class="row text-center">
    
      
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge semibold all-caps space-half-bottom">Workshops Schedule</div>
    <div class="all-caps legible dark-gray space-two-bottom">15th April <button class="tiny-prose button white button-mini" data-toggle="modal" data-target="#myModal"><i class="icon-calendar"></i>&nbsp;&nbsp;Subscribe</button></div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body dark">
          <h3><i class="icon-calendar"></i>&nbsp;&nbsp;AngularJS Miniconf</h3>
          <div class="tiny"><a href="webcal://funnel.hasgeek.com/angularjs-miniconf-2014/schedule/ical" class="button button-mini button-on-blue all-capitalize">Subscribe</a> <a href="https://www.google.com/calendar/render?cid=webcal%3A//funnel.hasgeek.com/angularjs-miniconf-2014/schedule/ical" target="_blank" class="button button-mini button-blue all-capitalize">Subscribe using Google Calender</a></div><br>
          <h3><i class="icon-calendar"></i>&nbsp;&nbsp;Meta Refresh Workshops &amp; Conference</h3>
          <div class="tiny"><a href="webcal://funnel.hasgeek.com/metarefresh2014/schedule/ical" class="button button-mini button-on-blue all-capitalize">Subscribe</a> <a href="https://www.google.com/calendar/render?cid=webcal%3A//funnel.hasgeek.com/metarefresh2014/schedule/ical" target="_blank" class="button button-mini button-blue all-capitalize">Subscribe using Google Calender</a></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <ul class="unstyled schedule ">
    <li class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nospace-bottom clearfix text-right theme-box-left theme-transparent">
        <h3 class="nospace-top legible-prose prose-type"><span class="">15th April</span></h3>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 legible nospace-bottom clearfix text-center">
        <h3 class="nospace-top legible-prose prose-type"><span class="">Starts at</span></h3>
      </div>
      <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nospace-bottom clearfix text-left theme-box-right theme-transparent">
        <h3 class="nospace-top legible-prose prose-type"><span class="">Day 2</span></h3>
      </div>-->
    </li>

  
    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Breakfast</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">08:30&nbsp;am</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Introduction to React</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">09:30&nbsp;am</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Tea</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">11:20&nbsp;am</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">JSX, React templates and template lifecycles</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">11:45&nbsp;am</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Lunch</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">1:30&nbsp;pm</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">State transitions and animations</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">2:15&nbsp;pm</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Tea</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">3:45&nbsp;pm</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Building a final app</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">4:00&nbsp;pm</h3>
      </div>
      
    </li>

    <li id="" class="row">
      
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-right theme-box-left theme-transparent">
          <div class="space-1q-top"><span class="calm italic secondary-prose">Q&A</span></div>
        </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
        <h3 class="all-caps nospace-top large-prose space-half-bottom semibold">5:00&nbsp;pm</h3>
      </div>
      
    </li>
    
 
  
  </ul>
</div>
</section>