#root {
  overflow-x: hidden;
  clip: rect(0, 0, 0, 0);
}

header {
  margin-bottom: 0;
}

#page-header {
  border-bottom: 0;
  margin-top: 20px;
  text-align: center;
}
#page-header object, #page-header embed {
  max-width: 100%;
  height: auto;
}
#page-header img {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  min-width: 50px;
  background-color: #33608f;
}

h2, h3, h4, h5, h6 {
  color: #666666;
  text-align: center;
}

h1 {
  color: #333333;
  text-align: center;
}

.navbar-margin {
  margin-bottom: 10px;
}

#main-navbar.main-navbar {
  display: none;
}

#main-navbar.main-navbar.navbar-fixed-top {
  display: block;
}

.main-navbar .nav {
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: white;
}
.main-navbar .nav > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: none;
  font-size: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-transition-property: color, color;
  -moz-transition-property: color, color;
  -o-transition-property: color, color;
  transition-property: color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 50%;
}
.main-navbar .nav > li > a {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #df5e0e;
  padding: 10px 10px 0px;
  line-height: 19px;
  text-decoration: none;
  background-color: white;
  -webkit-transition-property: color, color;
  -moz-transition-property: color, color;
  -o-transition-property: color, color;
  transition-property: color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 15px;
}
.main-navbar .nav > li:hover, .main-navbar .nav > li:hover > a {
  text-decoration: none;
  color: #518aae;
  -webkit-transition-property: color, color;
  -moz-transition-property: color, color;
  -o-transition-property: color, color;
  transition-property: color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.main-navbar:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -10px;
  left: -40px;
  right: -40px;
  border: 15px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  z-index: -2;
}

.navbar-fixed-top .nav > .register, .navbar-fixed-top .nav > .register a {
  color: yellow;
}

#mob-navbar {
  display: none;
}

.hide {
  opacity: 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.masthead {
  -moz-animation: 30s linear 0s normal none infinite mov;
  -webkit-animation: 30s linear 0s normal none infinite mov;
  -o-animation: 30s linear 0s normal none infinite mov;
  animation: 30s linear 0s normal none infinite mov;
  animation: 30s linear 0s normal none infinite mov;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow: hidden;
  text-align: center;
}
.masthead h1 {
  font-family: "Raleway", sans-serif;
  color: #df5e0e;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 46px;
}
.masthead .btn {
  background-image: none;
  background-color: #df5e0e;
  border-radius: 0;
  border: none;
  text-shadow: none;
  color: white;
  font-size: 20px;
  box-shadow: none;
  font-weight: 200;
  padding: 5px;
}
.masthead img {
  -moz-animation: rotate 20s linear 0s infinite;
  -webkit-animation: rotate 20s linear 0 infinite;
  -o-animation: rotate 20s linear 0 infinite;
  animation: rotate 20s linear 0 infinite;
}

.description {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.description, .description p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.button-bar {
  text-align: center;
}

.rounded {
  position: relative;
  padding-bottom: 20px;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.rounded:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -15px;
  left: -40px;
  right: -40px;
  border: 15px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.section1, .section1:after {
  background-color: #f4f8f9;
  border-color: #f4f8f9;
  padding-top: 0;
  margin-top: 0;
}

.section0, .section0:after {
  background-color: white;
  border-color: white;
}

.section2, .section2:after {
  background-color: #ecf1f2;
  border-color: #ecf1f2;
}

.section3, .section3:after {
  background-color: #ecf1f2;
  border-color: #ecf1f2;
}

.section4, .section4:after {
  background-color: #d7e9f5;
  border-color: #d7e9f5;
}

.section5, .section5:after {
  background-color: #c5dceb;
  border-color: #c5dceb;
}

.section6, .section6:after {
  background-color: #9fc2d6;
  border-color: #9fc2d6;
}

.section7, .section7:after {
  background-color: #73a2bd;
  border-color: #73a2bd;
}

.section8, .section8:after {
  background-color: #518aae;
  border-color: #518aae;
}

.section1.rounded:after {
  z-index: 9;
}

.section0.rounded:after {
  z-index: 8;
}

.section2.rounded:after {
  z-index: 7;
}

.section3.rounded:after {
  z-index: 6;
}

.section4.rounded:after {
  z-index: 5;
}

.section5.rounded:after {
  z-index: 4;
}

.section6.rounded:after {
  z-index: 3;
}

.section7.rounded:after {
  z-index: 2;
}

.section8.rounded:after {
  z-index: 1;
}

.section3.rounded {
  padding-top: 5px;
}

.section-heading {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 60px;
  letter-spacing: -2px;
}

.speaker-img {
  text-align: center;
}
.speaker-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.speaker-img img:hover {
  box-shadow: 2px 2px 3px #518aae;
}

.speaker-name {
  text-align: center;
  margin-bottom: 60px;
}
.speaker-name h3 {
  color: black;
  font-weight: 100;
  text-transform: uppercase;
}
.speaker-name em {
  font-size: 12px;
}

footer .footer-inner {
  background: inherit;
  color: #cccccc;
}

@media (max-width: 979px) {
  #mob-navbar {
    display: block;
  }

  #main-navbar {
    display: none;
  }

  #home {
    display: none;
  }

  .main-navbar .nav {
    width: 100%;
  }
  .main-navbar .nav > li {
    font-size: 20px;
  }
  .main-navbar .nav > li > a {
    width: 100%;
    padding: 0px 10px 0px;
    line-height: 19px;
    font-size: 15px;
  }

  .section0.rounded {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .section3.rounded {
    padding-top: 0px;
  }

  .main-navbar .nav > li p {
    font-weight: bold;
  }

  .masthead h1 {
    font-size: 25px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .speaker-img img {
    height: 165px;
  }

  .main-navbar .nav > li p {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  #page-header h2 {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .main-navbar .nav > li > a {
    width: 100%;
    padding: 0px 5px 0px;
    color: #222222;
  }
  .main-navbar .nav > li p {
    display: none;
  }
  .main-navbar .nav > li i {
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #page-header h2 {
    font-size: 16px;
  }

  .masthead h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .masthead img {
    display: none;
  }

  .rounded {
    padding-top: 30px;
  }

  .section1.rounded, .section3.rounded {
    padding-top: 0px;
  }
}
