#root {
  overflow-x: hidden;
  clip: rect(0, 0, 0, 0);
}

header {
  margin-bottom: 0;
}

#page-header {
  border-bottom: 0;
  margin-top: 20px;
  text-align: center;
}
#page-header object, #page-header embed {
  max-width: 100%;
  height: auto;
}
#page-header img {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page-header h2 {
  margin-bottom: 20px;
}

#logo {
  width: 369px;
  height: 244px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/logo.png?1359632506');
  margin-bottom: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 50px;
  background-color: #ceccdd;
}

body, p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.leaflet-popup-content, .leaflet-container .leaflet-control-attribution {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

small {
  font-size: smaller;
}

a {
  color: #3c2b73;
}

a:hover {
  color: #200864;
}

h2, h3, h4, h5, h6 {
  color: #222222;
  text-align: center;
}

h1 {
  color: #333333;
  text-align: center;
}

.masthead {
  -moz-animation: 30s linear 0s normal none infinite mov;
  -webkit-animation: 30s linear 0s normal none infinite mov;
  -o-animation: 30s linear 0s normal none infinite mov;
  animation: 30s linear 0s normal none infinite mov;
  animation: 30s linear 0s normal none infinite mov;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow: hidden;
  text-align: center;
}
.masthead h1 {
  font-family: "Raleway", sans-serif;
  color: #df5e0e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 46px;
}
.masthead img {
  -moz-animation: rotate 20s linear 0s infinite;
  -webkit-animation: rotate 20s linear 0 infinite;
  -o-animation: rotate 20s linear 0 infinite;
  animation: rotate 20s linear 0 infinite;
}

.description {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

#cleartrip-offer {
  color: #222222;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.5;
}
#cleartrip-offer strong {
  font-weight: bold;
}

.description, .description p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.rounded {
  position: relative;
  padding-bottom: 20px;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.rounded:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -15px;
  left: -40px;
  right: -40px;
  border: 15px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.section0, .section0:after {
  background-color: #dedce6;
  border-color: #dedce6;
}

.section1, .section1:after {
  background-color: #dedce6;
  border-color: #dedce6;
  padding-top: 0;
  margin-top: 0;
}

.section2, .section2:after {
  background-color: #ceccdd;
  border-color: #ceccdd;
}

.section3, .section3:after {
  background-color: #c2bed6;
  border-color: #c2bed6;
}

.section4, .section4:after {
  background-color: #b8b4d1;
  border-color: #b8b4d1;
}

.section5, .section5:after {
  background-color: #b0abcf;
  border-color: #b0abcf;
}

.section6, .section6:after {
  background-color: #aaa5c8;
  border-color: #aaa5c8;
}

.section7, .section7:after {
  background-color: #a39dc4;
  border-color: #a39dc4;
}

.section8, .section8:after {
  background-color: #9c96bf;
  border-color: #9c96bf;
}

.section1.rounded:after {
  z-index: 9;
}

.section0.rounded:after {
  z-index: 8;
}

.section2.rounded:after {
  z-index: 7;
}

.section3.rounded:after {
  z-index: 6;
}

.section4.rounded:after {
  z-index: 5;
}

.section5.rounded:after {
  z-index: 4;
}

.section6.rounded:after {
  z-index: 3;
}

.section7.rounded:after {
  z-index: 2;
}

.section8.rounded:after {
  z-index: 1;
}

footer .footer-inner {
  background: inherit;
}

@media (max-width: 979px) {
  .section0.rounded {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #logo {
    width: 290px;
    height: 190px;
    background: url('../img/logo.png?1359632506');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  #page-header h2 {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  #page-header h2 {
    font-size: 16px;
  }

  .masthead h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .masthead img {
    display: none;
  }

  .rounded {
    padding-top: 30px;
  }

  .section1.rounded {
    padding-top: 0px;
  }

  #logo {
    width: 200px;
    height: 130px;
    background: url('../img/logo.png?1359632506');
    background-size: 100%;
    background-repeat: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #logo {
    background: url('../img/logo-mobile.png?1361025450');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
