body{
    background: #fff url('../img/bg_body.png') repeat-x;
    text-align: center;
    color: #231F20;
    color: #1B1A19;
}

.clear{
    clear:both;
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #17AA9D;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #17AA9D;
}

a:hover{
    color: #17AA9D;
    border-bottom: none;
}

a.button{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 10px;
    background: #17AA9D;
    display: block;
    float: left;
    text-align: center;
    padding: 4px 0;
    color: #fff;
    border-bottom: none;
}

a.button:hover{
    background: #005952;
    text-decoration: none;
}

a.big_btn{width: 123px;}
a.small_btn{width: 84px;margin-left: 15px;}


#wrapper{
    width: 550px;
    margin: 0 auto;
    text-align: left;
}

img.logo{
    margin-top: 65px;
    margin-bottom: 165px;
}

div.left_description{
    float: left;
    width: 285px;
    margin: 0;
    margin-right: 40px;
}


div.left_description p{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 19px;
}

p.source_regular{
    font-style: normal !important;
}

div.event_info{
    margin: 0;
    float: left;
    width: 225px;
}

p{
    margin: 0;
}

span{
    display: block;
    float: left;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}

span.date_day{
    font: 85px 'Cawnpore', serif;
    letter-spacing: -4px;
}

span.and{
    font: 18px "Source Sans Pro", sans-serif;
    font-weight: 600;
    margin: 0 10px;
    padding-top: 22px;
}

.month{
    margin-top: -20px;
    letter-spacing: 2px;
    font: 30px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
}

.venue{
   font: 13px "Source Sans Pro", sans-serif;
   text-transform: uppercase;
   text-align: justify;
   width: 220px;
   height: 23px;
   overflow: hidden;
}

.venue:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.city{
   font: 48px 'Cawnpore', serif;
}