@import "compass"

#root
  overflow-x: hidden
  clip: rect(0, 0, 0, 0)

header
  margin-bottom: 0

#page-header
  border-bottom: 0
  margin-top: 20px
  text-align: center

  object, embed
    max-width: 100%
    height: auto
  img
    width: 180px
    margin-top: 10px
    margin-bottom: 20px

body
  font-family: 'Raleway', sans-serif
  font-weight: 400
  margin-left: auto
  margin-right: auto
  min-width: 50px
  background-color: #33608F
h2, h3,h4,h5,h6
  color: #666
  text-align: center
h1
  color: #333
  text-align: center


.navbar-margin
  margin-bottom: 10px
#main-navbar
  .main-navbar
    display: none
#main-navbar
  .main-navbar.navbar-fixed-top
    display: block
// Navigation bar
.main-navbar .nav
  float: none
  +box-sizing(border-box)
  +display-box
  margin-right: 0
  margin-bottom: 0
  width: 100%
  background-color: white

  & > li
    +inline-block
    float: none
    font-size: 20px
    margin-bottom: 0
    // background-color: black
    +display-box
    +box-flex(1)
    +box-pack(center)
    +transition-property("color, color")
    +transition-duration(0.2s)
    border-radius: 50%

    & > a
      display: block
      text-align: center
      +box-sizing(border-box)
      width: 100%
      color: #DF5E0E
      padding: 10px 10px 0px
      line-height: 19px
      text-decoration: none
      background-color: #FFFFFF
      +transition-property("color, color")
      +transition-duration(0.2s)
      border-radius: 50%
      text-transform: uppercase
      font-size: 15px

    &:hover, &:hover > a
      text-decoration: none
      color: #518AAE
      +transition-property("color, color")
      +transition-duration(0.2s)

.main-navbar:after
  position: absolute
  display: block
  content: ""
  bottom: -10px
  left: -40px
  right: -40px
  border: 15px solid #FFFFFF
  +border-radius(50%)
  overflow: hidden
  background-color: #FFFFFF
  z-index: -2
.navbar-fixed-top .nav
  & > .register, & > .register a
    color: yellow

#mob-navbar
  display: none
.hide
  opacity: 0

//rotate wheel
@-webkit-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
@-moz-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
@-o-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
@keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)


#social
  text-align: center
  max-width: 120px
  margin-right: auto
  margin-left: auto
  margin-top: 30px
#social-icon1,#social-icon2,#social-icon3
  height: 29px
  width: 29px
  float: left
  margin-right: 10px
  text-indent: -99999px

#social-icon1
  background: image-url('social-share/twitter.png') bottom

#social-icon2
  background: image-url('social-share/google-plus.png') bottom

#social-icon3
  background: image-url('social-share/facebook.png') bottom

#social-icon1:hover, #social-icon2:hover, #social-icon3:hover
  background-position: 0 0

.masthead
  -moz-animation: 30s linear 0s normal none infinite mov
  -webkit-animation: 30s linear 0s normal none infinite mov
  -o-animation: 30s linear 0s normal none infinite mov
  animation: 30s linear 0s normal none infinite mov
  animation: 30s linear 0s normal none infinite mov
  //background-image: image-url('moving-bg.png')
  left: 0px
  right: 0px
  position: absolute
  overflow: hidden
  text-align: center

  h1
    font-family: 'Raleway', sans-serif
    color: #DF5E0E
    font-weight: 900
    text-transform: uppercase
    font-size: 30px
    line-height: 46px
    //text-shadow: 2px 2px 3px #333
  .btn
    background-image: none
    background-color: #DF5E0E
    border-radius: 0
    border: none
    text-shadow: none
    color: #fff
    font-size: 20px
    box-shadow: none
    font-weight: 200
    padding: 5px
  img
    -moz-animation: rotate 20s linear 0s infinite
    -webkit-animation: rotate 20s linear 0 infinite
    -o-animation: rotate 20s linear 0 infinite
    animation: rotate 20s linear 0 infinite

.description
  max-width: 800px
  margin-left: auto
  margin-right: auto
  padding-bottom: 10px

.description, .description p
  font-family: 'Raleway', sans-serif
  font-size: 18px
  line-height: 30px
  font-weight: 300


.button-bar
  text-align: center

.rounded
  position: relative
  padding-bottom: 20px
  padding-top: 60px
  margin-bottom: 20px
  margin-top: -20px

.rounded:after
  position: absolute
  display: block
  content: ""
  bottom: -15px
  left: -40px
  right: -40px
  border: 15px solid
  +border-radius(50%)
  overflow: hidden
  // +box-shadow(0 2px 1px rgba(0, 0, 0, 0.1))

.section1, .section1:after
  background-color: #F4F8F9
  border-color: #F4F8F9
  padding-top: 0
  margin-top: 0
.section0, .section0:after
  background-color: #fff
  border-color: #fff
.section2, .section2:after
  background-color: #ECF1F2
  border-color: #ECF1F2
  //margin-top: -70px
  //background-image: image-url('moving-bg.png')
  //opacity: 0.5
  // border-color: #518AAE

.section3, .section3:after
  background-color: #ECF1F2
  border-color: #ECF1F2

.section4, .section4:after
  background-color: #D7E9F5
  border-color: #D7E9F5

.section5, .section5:after
  background-color: #C5DCEB
  border-color: #C5DCEB

.section6, .section6:after
  background-color: #9FC2D6
  border-color: #9FC2D6

.section7, .section7:after
  background-color: #73A2BD
  border-color: #73A2BD

.section8, .section8:after
  background-color: #518AAE
  border-color: #518AAE

.section1.rounded:after
  z-index: 9
.section0.rounded:after
  z-index: 8
.section2.rounded:after
  z-index: 7
.section3.rounded:after
  z-index: 6
.section4.rounded:after
  z-index: 5
.section5.rounded:after
  z-index: 4
.section6.rounded:after
  z-index: 3
.section7.rounded:after
  z-index: 2
.section8.rounded:after
  z-index: 1

.section3.rounded
  padding-top: 5px

.section-heading
  font-weight: 500
  font-size: 36px
  margin-bottom: 60px
  letter-spacing: -2px
.speaker-img
  text-align: center
  img
    width: 200px
    height: 200px
    border-radius: 50%
  img:hover
    box-shadow: 2px 2px 3px #518AAE
    
.speaker-name 
  text-align: center
  margin-bottom: 60px
  h3
    color: #000
    font-weight: 100
    text-transform: uppercase
  em
    font-size: 12px

footer .footer-inner
  background: inherit
  color: #ccc


@media (max-width: 979px)
  #mob-navbar
    display: block
  #main-navbar
    display: none
  #home
    display: none
  .main-navbar .nav
    width: 100%
    & > li
      font-size: 20px
      & > a
        width: 100%
        padding: 0px 10px 0px
        line-height: 19px
        font-size: 15px
  .section0.rounded
    padding-top: 30px
    padding-bottom: 0px
  .section3.rounded
    padding-top: 0px
  .main-navbar .nav
    & > li
      p
        font-weight: bold
  .masthead
    h1
      font-size: 25px
      line-height: 32px

@media (min-width: 768px) and (max-width: 979px)
  .speaker-img
    img
      height: 165px
  .main-navbar .nav
    & > li
      p
        font-size: 16px
        padding-bottom: 5px
                                                                            
@media (max-width: 767px)
  #page-header
    h2
      font-size: 20px
@media (min-width: 460px) and (max-width: 767px)
  .speaker-img
    img
      height: 165px
      width: 165px
  .main-navbar .nav
    p
      padding-bottom: 10px
@media (max-width: 460px)
  .main-navbar .nav
    & > li
      & > a
        width: 100%
        padding: 0px 5px 0px
        color: #222222
      p
        display: none
      i
        font-size: 22px
        padding-bottom: 15px
        padding-top: 10px

  #page-header
    h2
      font-size: 16px
  .masthead
    h1
      font-size: 20px
      line-height: 24px
    img
      display: none
  .rounded
    padding-top: 30px
  .section1.rounded, .section3.rounded
    padding-top: 0px
  .speaker-img
    width: 30%
    float: left
    img
      height: auto
      width: 90%
      float: left
      margin-top: 5px
  .speaker-name 
    margin-bottom: 30px
    float: right
    width: 70%
    h3
      float: right
      text-align: right
    em
      float: right
      text-align: right
  .speakers
    border-bottom: 1px solid #fff
    .span3
      border-bottom: 1px solid #fff
      padding-top: 10px
      width: 100%
      margin-left: 0

