{% extends 'baseframe.html' %}

{% block title %}Meta Refresh{% endblock %}
{% block description %}A conference on front-end engineering{% endblock %}

{% block headerbox %}
<header class="header">
  {% include "baseframe/networkbar.html" -%}
	<div class="container">
		<div class="row">
			<div class="web-history span9">
				<dl>
					<dt>2008</dt><dd>Google Chrome</dd>
					<dt>2007</dt><dd>Mobile Safari</dd>
					<dt>2006</dt><dd>HTML5</dd>
					<dt>2004</dt><dd>Mozilla Firefox</dd>
					<dt>2004</dt><dd>CSS3</dd>
					<dt>2003</dt><dd>Apple Safari</dd>
					<dt>1999</dt><dd>AJAX</dd>
					<dt>1998</dt><dd>CSS 2.0</dd>
					<dt>1997</dt><dd>Flash</dd>
					<dt>1996</dt><dd>CSS 1.0</dd>
					<dt>1996</dt><dd>HTML 4.0</dd>
					<dt>1995</dt><dd>Internet Explorer</dd>
					<dt>1995</dt><dd>JavaScript</dd>
					<dt>1995</dt><dd>Opera</dd>
					<dt>1994</dt><dd>Netscape</dd>
					<dt>1994</dt><dd>HTML 3.0</dd>
					<dt>1993</dt><dd>Mosaic</dd>
					<dt>1993</dt><dd>HTML 2.0</dd>
					<dt>1991</dt><dd>HTML 1.0</dd>
					<dt>1990</dt><dd>HTTP</dd>
				</dl>
			</div><!-- /web-history -->
			<div class="banner span6 pull-right">
			<p class="callout">A conference that revisits the construction of <strong>user interface</strong> on the world&#8217;s biggest platform &#8211; <strong>the web</strong>.</p>
			<hgroup>
				<h1 class="ir"><b>Meta</b> Refresh</h1>
				<h2><b>21<sup>st</sup> April</b> 2012</h2>
				<h3><b>Dharamaram College</b> Bangalore</h3>
			</hgroup>
			<p class="register"><a class="btn btn-success" href="http://metarefresh.doattend.com/"><strong>Buy Tickets</strong><br>Rs.700 till 31st March</a></p>
			</div>
		</div><!--/row-->
	</div><!-- /container -->
	
	<div class="navbar">
		<div class="container">
			<ul class="nav">
				<li class="home"><a title="Home (Top of the page)" href="#root"><b>Meta</b> Refresh</a></li>
				<li><a href="#program">Program<span class="extra">me</span></a></li>
				<li><a href="#venue">Venue</a></li>
				<li class="spacer about"><a href="#about">About</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#credits">Credits</a></li>
				<li class="register"><a href="http://metarefresh.doattend.com/">Register</a></li>
			</ul>
		</div><!-- /container -->
	</div><!-- /navbar -->
</header>

{% endblock %}



{% block main %}

<section id="about" class="section">
	<div class="container">
		<div class="row">
			<h2>About</h2>
			<div class="description legible span8">
				<p><abbr>HTML5</abbr> and <abbr>CSS3</abbr> have very quickly moved from being tentative new standards to the base standards for every major desktop and mobile browser. <abbr>HTML5</abbr> is now just <abbr>HTML</abbr>, a modular, living standard that no longer needs a version number.</p>

				<p>Now that we are no longer fighting over platforms, it&#8217;s time to put the specs aside and revisit the construction of user interface: how do we raise the bar for stellar user interface on the web?</p>

				<p>Meta Refresh is a follow-up to <a href="http://www.doctypehtml5.in/">DocType <abbr>HTML5</abbr></a> from 2010-11 and is a conference on web <abbr title="User Interface">UI</abbr> engineering.</p>
			</div><!-- span8 -->
			<div class="featuring span4">
				<div class="funnel legible">
					<p><a class="btn btn-primary legible" href="http://funnel.hasgeek.com/metarefresh/">Propose a session<br><i>on the Funnel</i></a></p>
				</div>
				<div class="highlight legible">
					<p><a class="btn btn-inverse legible" href="{{ url_for('contest') }}"><i>Meta Refresh</i><br>Take Charge</a></p>
					<p>Redesign your least favourite Indian Government website.</p>
				</div>
			</div>
		</div><!-- /row -->
		<hr class="divider">
	</div><!-- /container -->
</section><!-- /about -->


<section id="sponsors" class="section">
	<div class="container">
		<h2>Sponsors</h2>
		<div class="row">
			<article class="open sponsor-platinum sponsor span6">
				<p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/430x200/E3E3E3/666&amp;text=Your+Logo+Here"></p>
			</article>
			<article class="open empty sponsor-platinum sponsor span6">
				<p class="logo"></p>
			</article>

			
			<article class="open sponsor-gold sponsor span3">
				<p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/192x150/E3E3E3/666&amp;text=Your+Logo"></p>
			</article>
			<article class="open empty sponsor-gold sponsor span3">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-gold sponsor span3">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-gold sponsor span3">
				<p class="logo"></p>
			</article>
			


			<article class="open sponsor-silver sponsor span2">
				<p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x100/E3E3E3/666&amp;text=You"></p>
			</article>
			<article class="open empty sponsor-silver sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-silver sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-silver sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-silver sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-silver sponsor span2">
				<p class="logo"></p>
			</article>
			
			
			<article class="open sponsor-community sponsor span2">
				<p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x50/E3E3E3/666&amp;text=You"></p>
			</article>
			<article class="open empty sponsor-community sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-community sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-community sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-community sponsor span2">
				<p class="logo"></p>
			</article>
			<article class="open empty sponsor-community sponsor span2">
				<p class="logo"></p>
			</article>
			
		</div><!-- /row -->
		<hr class="divider">
	</div><!-- /container -->
</section><!-- /sponsors -->


<section id="program" class="section">
	<div class="container">
		<h2>Programme</h2>
		{# Uncomment this when the schedule is ready
		<div class="schedule">
			<h3>Schedule</h3>
			<table class="table">
				<colgroup class="time"></colgroup> 
				<colgroup class="track track-1"></colgroup>
				<colgroup class="track track-2"></colgroup>
				<colgroup class="track track-3"></colgroup>
				<thead>
					<tr>
						<th>Time</th>
						<th>Track 1 (Hall A)</th>
						<th>Track 2 (Hall B)</th>
						<th>Track 3 (Hall C)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>09:00 - 09:45</td>
						<td colspan="3">Registration</td>
					</tr>
					<tr>
						<td>09:45 - 10:00</td>
						<td colspan="3">Introduction</td>
					</tr>
					<tr>
						<td>10:00 - 10:45</td>
						<td>
							<h4><a href="http://funnel.hasgeek.com/metarefresh/112-secure-cross-messaging-storage-file-api-and-urls-with-html5-css">Secure - Cross Messaging, Storage, File API and URLs with HTML5 &amp; CSS</a></h4>
							<p>Bishan Singh Kochher</p>
						</td>
						<td>
							<h4><a href="http://funnel.hasgeek.com/metarefresh/96-responsive-web-design-with-css3-media-queries">Responsive Web Design with CSS3 Media Queries</a></h4>
							<p>Ramesh Selvam</p>
						</td>
						<td>
							<h4><a href="#">CSS Frameworks</a></h4>
							<p>Arjun Kumar</p>
						</td>
					</tr>
					<tr>
						<td>10:45 - 11:30</td>
						<td>
							<h4><a href="#">Typography for the Web</a></h4>
							<p>Gaurav</p>
						</td>
						<td>
							<h4><a href="#">Bootstraps and Boilerplates</a></h4>
							<p>Varun S.</p>
						</td>
						<td>
							<h4><a href="#">Building Accessible Websites</a></h4>
							<p>Shilpa Sharma</p>
						</td>
					</tr>
					<tr>
						<td>10:00 - 10:45</td>
						<td>
							<h4><a href="http://funnel.hasgeek.com/metarefresh/112-secure-cross-messaging-storage-file-api-and-urls-with-html5-css">Secure - Cross Messaging, Storage, File API and URLs with HTML5 &amp; CSS</a></h4>
							<p>Bishan Singh Kochher</p>
						</td>
						<td>
							<h4><a href="http://funnel.hasgeek.com/metarefresh/96-responsive-web-design-with-css3-media-queries">Responsive Web Design with CSS3 Media Queries</a></h4>
							<p>Ramesh Selvam</p>
						</td>
						<td>
							<h4><a href="#">CSS Frameworks</a></h4>
							<p>Arjun Kumar</p>
						</td>
					</tr>
					<tr>
						<td>10:45 - 11:30</td>
						<td>
							<h4><a href="#">Typography for the Web</a></h4>
							<p>Gaurav</p>
						</td>
						<td>
							<h4><a href="#">Bootstraps and Boilerplates</a></h4>
							<p>Varun S.</p>
						</td>
						<td>
							<h4><a href="#">Building Accessible Websites</a></h4>
							<p>Shilpa Sharma</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /schedule -->
		#}
		<div class="row">
			<div class="span4 pull-right">
				<div class="notice legible">
					<p>The final list of sessions and the event schedule will be drafted a few days prior to the event.</p>
				</div><!-- /notice -->
				
				<div class="funnel legible">
					<p><a class="btn btn-primary legible" href="http://funnel.hasgeek.com/metarefresh/">Vote <i>or</i><br>Propose a Session</a></p>
					<p>HasGeek events are community driven. The community is invited to submit their talk proposals and you decide what talks to listen to by voting up or down in <a href="http://funnel.hasgeek.com/metarefresh/">the Funnel</a>.</p>
					<h4>Submissions close 15th April</h4>
				</div><!-- /funnel -->
			</div><!-- /span -->
			
			<div class="span8">
							
				<div class="preview">
					<h3>Event Preview</h3>
					<article class="proposal legible">
						<h4><a href="http://funnel.hasgeek.com/metarefresh/96-responsive-web-design-with-css3-media-queries">Responsive Web Design with CSS3 Media Queries Design with CSS3 Media Queries</a></h4>
						<p>The boom of mobile devices has turned the world of web design upside down. Users no longer view web content only on traditional desktop systems, but are increasingly using smartphones, tablets, and other devices with a wide range of dimensions. The challenge for web designers is to ensure that their websites look good not only on a big screen, but also on a tiny phone and everything in between.</p>
						<p>This session provides an overview of media queries, including examples that will help jumpstart your own multiscreen website development.</p>
					</article>
					
					<article class="proposal legible">
						<h4><a href="http://funnel.hasgeek.com/metarefresh/230-ux-design-process-workflow">UX Design Process/Workflow</a></h4>
						<p>User Experience Design has grown rapidly in last few years. As Jesse James Garrett in his book 'The Essentials of User Experience Design' wrote about the five planes of UX Design - Strategy, Scope, Structure, Skeleton, Surface.</p>
						<p>A run through, through the process of creating compelling and breath-taking user experiences. Insight over the different phases of UX design. Ideation, Brainstorming, User research, Mental Models, Conceptual Models, Personas, Wireframes, prototyping, visual mockups etc.</p>
					</article>
					<article class="proposal legible">
						<h4><a href="http://funnel.hasgeek.com/metarefresh/241-scalable-css-architecture">Scalable CSS architecture</a></h4>
						<p>There is no one true way to write good CSS. This talk is aimed at CSS authors who want to improve their workflow, learn to write organised code that is easier to build and maintain.</p>
					</article>
					<article class="proposal legible">
						<h4><a href="http://funnel.hasgeek.com/metarefresh/239-go-geo-with-html5">Go Geo with HTML5</a></h4>
						<p>With the evolution of GPS-capable systems and the web world, there is an explosion of location-based applications and the desire to geo-tag all data on the internet is immense.</p>
						<p>This session aims at exploring the Geolocation capabilities that HTML5 provides with a few interesting use cases and examples.</p>
					</article>
				</div>
			</div><!-- /span -->
			
			<div class="span4 sidebar">
				<div class="videos">
					<h3>Previously at HasGeek</h3>					
					<article class="session-video clearfix">
						<a href="http://www.youtube.com/watch?v=amYKGX6kpEc">
							<p class="thumbnail span2"><img alt="" src="/static/img/backbone.jpg"></p>
							<h4>Single Page Apps with Backbone JS</h4>
						</a>
						<h5><a href="http://jsfoo.in/bangalore2011/">jsFoo Bangalore 2011</a></h5>
					</article>
					<article class="session-video clearfix">
						<a href="http://www.youtube.com/watch?v=t8BVYn6vS5g">
							<p class="thumbnail span2"><img alt="" src="/static/img/node.jpg"></p>
							<h4>Node.js and Async Programming Model</h4>
						</a>
						<h5><a href="http://jsfoo.in/bangalore2011/hacknight">jsFoo Hack Night</a></h5>
					</article>
					<article class="session-video clearfix">
						<a href="http://blip.tv/hasgeek/how-flipkart-scales-php-tips-tricks-5428054">
							<p class="thumbnail span2"><img alt="" src="/static/img/flipkart.jpg"></p>
							<h4>How Flipkart Scales PHP: Tips &amp; Tricks</h4>
						</a>
						<h5><a href="http://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a></h5>
					</article>
					<article class="session-video clearfix">
						<a href="http://www.youtube.com/watch?v=bmdBk-gckY8">
							<p class="thumbnail span2"><img alt="" src="/static/img/divya.jpg"></p>
							<h4>HTML5 Boilerplate</h4>
						</a>
						<h5><a href="http://geekup.in/2011/nimbupani">GeekUp</a></h5>
					</article>
				</div><!-- /videos -->
			</div>
		</div><!-- /row -->
		<hr class="divider">
	</div><!-- /container -->
</section><!-- /program -->


<section id="venue" class="section">
	<h2>Venue</h2>
	<div class="spread">

		<div class="container">

			<div class="row">
					<div id="map" class="map">
                </div>
				<div class="details clearfix span5 pull-right">
					<h3 class="large">Dharmaram College</h3>
					<p class="description"><strong>Christ University Campus</strong> Bangalore</p>
					
					<div class="directions">
						<h3>Getting There</h3>
						<p class="legible">Enter Christ University’s main entrance gate (the one on the right) and drive straight down to Dharmaram College, within the campus. Christ University is at Dairy Circle, half a kilometre from the Forum mall.</p>
						<p><a href="http://goo.gl/maps/jYyv">View location in Google Maps</a></p>
					</div><!-- /directions -->
					
					<div class="timing">
						<h3>When</h3>
						<p class="legible">
							21 April 2012<br>
							9:00 am to 6:00 pm
						</p>

					</div><!-- /timing -->
				</div><!-- /details -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /spread -->
	<hr class="divider">
</section><!-- /venue -->


<section class="credits section">
	<div id="credits" class="container">
		<div class="row">
			<div class="span8 description legible pull-right">
				<h3 class="hasgeek"><a href="http://hasgeek.com/">HasGeek</a></h3>
				<p><strong>HasGeek is a developer-led initiative</strong>, and has been un-organising the unconference scene since 2010. <a href="http://hasgeek.com">HasGeek</a> is an attempt to solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who pitch them as company training events or as places for companies to pick up hot developers.</p>
				<p>We are attempting to build a new space,  <strong>a space that is genuinely respectful of the communities</strong> and topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology and the possibilities that it creates, not to be a recruitment fair (though we hope you do find partnership possibilities at our events).</p>
				<p>We are community-driven — <a href="http://funnel.hasgeek.com/">check out our speaker-selection funnel</a>, where you decide what talks to listen to by voting up or down. There are just a handful of us running the show and are not in it for the money (not there is much left after paying the vendors and logistics providers). We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests and expertise and hanging out later over $beverageOfChoice.</p>
			</div>
			<div class="span4">
				<h2>Credits</h2>
				<dl class="movie-credits">
					<dt>Direction</dt>
					<dd>Anupama Sharma</dd>
					<dt>Website</dt>
					<dd>Prateek Rungta,<br><a href="http://miranj.in/">Miranj</a></dd>
					<dt>Hasgeek</dt>
					<dd>Kiran Jonnalagadda<br>Zainab Bawa<br>Nigel Babu<br>Sajjad Anwar</dd>
					<dt>Earth Photo</dt>
					<dd>Blue Marble,<br><a href="http://www.flickr.com/photos/gsfc/4392965590/">NASA</a></dd>
				</dl>
			</div><!-- /span -->
		</div>
	</div>
</section><!-- /credits -->

{% endblock %}

{% block footerscripts %}
<script>
          var map = new L.Map('map');
          var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
              subDomains = ['otile1','otile2','otile3','otile4'],
              cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
              var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

              var venue = new L.LatLng(12.9334, 77.6050); // geographical point (longitude and latitude)
              var center = new L.LatLng(12.93928, 77.61068);
              var mobile_center = new L.LatLng(12.935, 77.591);
              map.setView(venue, 14).addLayer(cloudmade);
              
              /*fix for portrait centering- find a better way*/
              if(map.getSize().x>800) {
              	map.setView(mobile_center,14);
              };

                var venue_marker = new L.Marker(venue);
                  map.addLayer(venue_marker);
                  venue_marker.bindPopup('Dharmaram College').openPopup();
                  map.scrollWheelZoom.disable();

                  map.on('zoomend', onZoomend);
				  function onZoomend(){	
							map.setView(venue, map.getZoom());
				};

                </script>
  {% endblock %}