{% extends 'base.html' %}

{% block subcontent %}
<div class="header-wrap">
	<div class="container">
		<div class="row pullleft3">
			<div class="web-history span9">
				<dl>
					<dt>2008</dt><dd>Google Chrome</dd>
					<dt>2006</dt><dd>HTML5</dd>
					<dt>2004</dt><dd>Mozilla Firefox</dd>
					<dt>2004</dt><dd>CSS3</dd>
					<dt>2003</dt><dd>Apple Safari</dd>
					<dt>1999</dt><dd>AJAX</dd>
					<dt>1998</dt><dd>CSS 2.0</dd>
					<dt>1997</dt><dd>Flash</dd>
					<dt>1996</dt><dd>CSS 1.0</dd>
					<dt>1996</dt><dd>HTML 4.0</dd>
					<dt>1995</dt><dd>Internet Explorer</dd>
					<dt>1995</dt><dd>JavaScript</dd>
					<dt>1995</dt><dd>Opera</dd>
					<dt>1994</dt><dd>Netscape</dd>
					<dt>1994</dt><dd>HTML 3.0</dd>
					<dt>1993</dt><dd>Mosaic</dd>
					<dt>1993</dt><dd>HTML 2.0</dd>
					<dt>1991</dt><dd>HTML 1.0</dd>
					<dt>1990</dt><dd>HTTP</dd>
				</dl>
			</div><!-- /web-history -->
			<div class="banner span6">
			<p class="callout">A conference that revisits the construction of <strong>user interfaces</strong> on the world&#8217;s biggest platform &#8211; <strong>the web</strong>.</p>
			<hgroup>
				<h1><b>Meta</b> Refresh</h1>
				<h2><b>21<sup>st</sup> April</b> 2012</h2>
				<h3><b>Dharamaram College</b> Bangalore</h3>
			</hgroup>
			<p class="register"><a class="btn btn-success" href="http://metarefresh.doattend.com/"><strong>Buy Tickets</strong><br>Save Rs.200 before 21 March</a></p>
			</div>
		</div><!--/row-->
	</div><!-- /container -->
	
	<div class="navbar">
		<div class="container">
			<ul class="nav">
				<li class="home"><a href="#"><b>Meta</b> Refresh</a></li>
				<li><a href="#">Programme</a></li>
				<li><a href="#">Venue</a></li>
				<li class="spacer"><a href="#">About</a></li>
				<li><a href="#">Sponsors</a></li>
				<li><a href="#">Credits</a></li>
				<li class="register"><a href="#">Register</a></li>
			</ul>
		</div><!-- /container -->
	</div><!-- /navbar -->
</div><!-- /header-wrap -->
{% endblock %}
