@import "fonts.css";


/* ================================== */
/* = Bootstrap Framework Extensions = */
/* ================================== */

/* .row conjunctions */
/* FIXME: @media query support */
.pullleft3 { margin-left: -260px; }
.pullleft4 { margin-left: -340px; }



/* ============================ */
/* = Meta Refresh Space Theme = */
/* ============================ */

html, body {
	font: 14px "Futura PT", Futura, "Trebuchet MS", 'Helvetica Neue', Helvetica, Arial, sans-serif; 	
	background: #FCFCFC;
}
p {
	font-size: 1em;
	font-family: inherit;
	line-height: inherit;
	margin-bottom: 0.643em;
}
li { line-height: inherit; }
abbr:not([title]) { cursor: auto; border-bottom: none; }

.large {
	font-size: 24px;
	font-size: 1.714rem;
	line-height: 1.65;
}
.legible {
	font-size: 18px;
	font-size: 1.2857rem;
	line-height: 1.65;
}
.secondary {
	font-size: 1.143em;
	line-height: 1.65;
}
.legible p,
.legible ul,
.secondary p,
.secondary ul { margin-bottom: 1em; }
.btn {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
}
.btn i { font-weight: 300; font-style: normal; }




#hg-bar { margin-bottom: 0; }

.header {
	color: #EEE;
	background: black;
	padding-bottom: 3em;
	margin-bottom: 4em;
}

.web-history {
	height: 500px;
	background: url(../img/earth.jpg) no-repeat scroll top left;
}
.web-history dl {
	margin-top: 2.5em;
	margin-left: 350px;
	font-size: 0.857em;
	color: #444;
	padding-top: 15px;
}
.web-history dt {
	float: left;
	clear: left;
	margin-right: 0.5em;
	font-weight: 400;
	line-height: 1.8;
}
.web-history dd {
	line-height: 1.8;
	font-weight: 700;
}
/* FIXME: Graceful degradation */
/*.web-history dt:nth-of-type() { margin-left: 0; }*/
.web-history dt:nth-of-type( 1) { margin-left: 35px; }
.web-history dt:nth-of-type( 2) { margin-left: 60px; }
.web-history dt:nth-of-type( 3) { margin-left: 80px; }
.web-history dt:nth-of-type( 4) { margin-left: 95px; }
.web-history dt:nth-of-type( 5) { margin-left: 110px; }
.web-history dt:nth-of-type( 6) { margin-left: 120px; }
.web-history dt:nth-of-type( 7) { margin-left: 128px; }
.web-history dt:nth-of-type( 8) { margin-left: 135px; }
.web-history dt:nth-of-type( 9) { margin-left: 140px; }
.web-history dt:nth-of-type(10) { margin-left: 140px; }
.web-history dt:nth-of-type(11) { margin-left: 140px; }
.web-history dt:nth-of-type(12) { margin-left: 135px; }
.web-history dt:nth-of-type(13) { margin-left: 130px; }
.web-history dt:nth-of-type(14) { margin-left: 125px; }
.web-history dt:nth-of-type(15) { margin-left: 115px; }
.web-history dt:nth-of-type(16) { margin-left: 105px; }
.web-history dt:nth-of-type(17) { margin-left: 90px; }
.web-history dt:nth-of-type(18) { margin-left: 70px; }
.web-history dt:nth-of-type(19) { margin-left: 50px; }
/*.web-history dt:nth-of-type() { margin-left: 20px; }*/
/*.web-history dt:nth-of-type() { margin-left: -10px; }*/





.banner { padding-top: 3em; }
.banner h1,
.banner h2,
.banner h3 {
	text-align: center;
	font-weight: 300;
}
.banner b { font-weight: 700; }
.banner h1 {
	font-size: 3.5em;
	margin: 0.9em auto;
	line-height: 1.2;
	color: white;
	-webkit-border-radius: 9em;
	-moz-border-radius: 9em;
	-o-border-radius: 9em;
	border-radius: 9em;
}
.banner h2,
.banner h3 {
	font-size: 0.857em;
	line-height: 1.5;
	font-weight: 400;
	color: #F0A40C;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	margin: 1em 0;
}
.callout {
	font-style: italic;
	text-align: center;
	font-size: 2em;
	line-height: 1.35;
	margin-bottom: 0.75em;
	color: #DF5E0E;
	color: #08C;
}
.banner .register {
	width: 70%;
	margin: 2em auto 1em;
}
.banner .register strong { font-size: 1.5em; }
.banner .register a {
	display: block;
/*	background: #F0A40C;*/
	line-height: 1.5;
	padding: 0.5em 0 0.75em;
}

.navbar { background: #000; margin: 0; position: absolute; width: 100%; }
.navbar-fixed-top { position: fixed; }
.navbar .nav { width: 100%; }
.navbar .nav li {
	width: 12.5%;
	text-decoration: center;
	font-size: 0.857em;
	line-height: 1.5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.navbar .nav li a {
	display: block;
	padding: 1em 0;
	text-align: center;
	color: #EEE;
}
.navbar .nav li:not(.home) a {
  -webkit-transition: background-color 0.25s ease-out;
     -moz-transition: background-color 0.25s ease-out;
      -ms-transition: background-color 0.25s ease-out;
       -o-transition: background-color 0.25s ease-out;
          transition: background-color 0.25s ease-out; 
}
.navbar .nav li a:hover { background-color: #F0A40C; }
.navbar-fixed-top .nav .register a { border-top: 0px solid #5BB75B; color: #0D0; }
.navbar .nav .spacer {
	margin-right: 25%;
}
.navbar .nav .home {
	position: absolute;
	top: 12px;
	left: 37.5%;
	right: 37.5%;
	width: auto;
	border: none;
	font-size: 1em;
}
.navbar .nav .home a {
	font-size: 2em;
	color: black;
/* FIXME: Fallback color when gradients are not supported  */	
/*	background: #FCFCFC;*/
	background-color: transparent;
/* FIXME: Cross-browser  */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), color-stop(0.6, #FCFCFC), to(rgba(252,252,252,0)));
	margin: 0 auto 0.6em;
	padding: 0;
	width: 8em;
	line-height: 2.5em;
	-webkit-border-radius: 8em 2.5em;
	text-transform: none;
	letter-spacing: 0em;
	text-shadow: none;
	font-weight: 300;
}
.navbar .nav .home a b { font-weight: 700; }
.navbar .nav .home a:hover {
	background: #F0A40C;
	color: black;
}




.section {
	padding: 3em 0;
}
.section h2 {
	font-size: 4em;
	line-height: 1.2;
	margin: 0 0 1.2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #DDD;
	text-shadow: white 0px 1px 0px, #999 0px -1px 0px;
}
.section h3 {
	text-transform: uppercase;
	font-size: 1em;
	margin: 0.4em 0 1em;
	color: gray;
}
.section hr.divider { margin: 5em 0 0; }


#about h2 { display: none; }
.description {
	padding-right: 4em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.speakers {
	margin: 0 0 1em;
	list-style-type: none;
}
.speakers li {
	float: left;
	width: 28%;
	margin: 0;
}
.speakers li + li { margin-left: 8%; }
.speakers .funnel {
	outline: 0.8em solid #F3F3F3;
	background: #F3F3F3;
}


.sponsor {
	border: 1px solid #EEE;
	padding: 1em;
	margin-bottom: 2.5em;
	background: white;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
}
.sponsor.open { background: #F3F3F3; border: 1px dashed #DDD; }
.sponsor.open.empty { background: transparent; }
.sponsor:after {
	font-size: 10px;
	position: absolute;
	margin-top: 0.5em;
	top: 100%;
	right: 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #CCC;
}
.sponsor .logo { text-align: center; vertical-align: middle; margin: 0; }
.sponsor .logo img { max-height: 100%; width: auto; vertical-align: middle; }
.sponsor-platinum .logo { height: 250px; line-height: 250px; }
.sponsor-gold .logo 	{ height: 150px; line-height: 150px; }
.sponsor-silver .logo	{ height: 100px; line-height: 100px; }
.sponsor-community .logo{ height: 50px;  line-height: 50px;  }
.sponsor-platinum:after { content: "Platinum"; }
.sponsor-gold:after		{ content: "Gold"; }
.sponsor-silver:after	{ content: "Silver"; }
.sponsor-community:after{ content: "Community"; }


#program .description { padding: 0 0 0 4em; }
#program .funnel {
	background: #EEE;
	padding: 1.75em 1.5em 1em;
	margin: 0 0 1.5em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#program .funnel h4 { margin: 1em 0 0.5em; }
#program .funnel .btn {
	text-align: center;
	padding: 0.35em 1em;
	margin-bottom: 0.5em;
}
.schedule {
	margin-bottom: 1em;
	position: relative;
	overflow: auto;
}
.schedule .time { width: 19%; }
.schedule .track { width: 27%; }
.schedule .notice {
	position: absolute;
	top: 2.3em;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #EEE;
	background: #FFF;
	background: rgba(255,255,255,0.9);
	color: #555;
	font-weight: bold;
	text-align: center;
	padding: 5em 4em 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


#venue { padding-bottom: 0; }
#venue .spread {
	background: #333;
	position: relative;
	overflow: hidden;
}
#venue .map {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	margin: 0 0 0 -640px;
	width: 1280px;
	z-index: 0;
}
#venue .details {
	position: relative;
	z-index: 10;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 2em 1.5em 2em 2em;
	color: #EEE;
	background: rgba(50,50,50,0.95);
}
#venue h3 { margin-top: 2em; }
#venue h3.large {
	font-size: 2em;
	margin-top: 0;
	color: white;
}
#venue .description {
	padding: 0;
	margin: -1.5em 0 3em;
	color: gray;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 0.2em;	
}
#venue .description strong { font-weight: 400; color: white; margin-right: 1em; }
#venue .divider { margin-top: 0; }


footer .footer-inner {
	background: none;
	margin: 15em 0 5em;
	color: gray;
}


