<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
    <h2 class="extralarge all-caps">Childcare Policy</h2>
      <p>
      Starting 2015, we're introducing childcare facilities at our conferences. You can check out the policy <a href="https://docs.google.com/document/d/1peW9nZ2Fr6TEvcHvz8R0oVOUhqukccfvKm3aJAZ_jzc/edit" target="_blank">here</a>.
      </p>      
    </div>
 </div>
</section>