<section class="clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container" id="childcare">
    <div class="regular-prose semibold">
    <h2 class="exlialarge all-caps">Childcare Policy</h2>
      <p>
      All HasGeek conferences (starting 2015) offer a childcare cenlie for infants and toddlers. We understand that young children need the care of a familiar caretaker and adherence to set routines, so:
<ul>
<li>One caretaker accompanying a child (under 6) gets free entry to the conference and all facilities.</li>
<li>We offer a quiet, enclosed space for the child or caretaker to rest, and a cordoned public space with playmats. The indoor space has drinking water, a changing station (but no toilet) and a waste disposal bin.</li>
<li>Both spaces include a live stream (tentative, subject to gear working), so you can attend to your child without missing sessions.</li>
<li>We’ve expanded the facility’s accessible toilet to also serve as a baby changing station.</li>
<li>Children are welcome inside the conference hall as long as they don't disrupt the proceedings. The play area and hall are close to each other in case you need to move quickly.</li>
<li>Entry is free for children under the age of 10.</li>
<li>Caretakers must bring their own diapers, toys and anything else your child requires.</li>
<li>Our caterer will bring food to the daycare areas so you don’t have to step away.</li>
<li>You are solely responsible for your children and must sign a waiver to this effect. There will be no staff on duty to care for your child.</li>
<li>Tentative: we’ll arrange for baby-friendly food. A water heater so you can boil your own water if you don’t trust what is provided. Maybe a microwave/induction stove if it’s not too hard to arrange.</li>
</ul>

As parents of young children ourselves, we've laid out a framework based on our own experiences. We believe others like us shouldn't have to miss out on the benefits of an inclusive peer-driven learning environment. We welcome your suggestions on how we can make this better for everyone. Please email us at support@hasgeek.com or tweet to @hasgeek.
      </p>      
    </div>
 </div>
</section>