<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-12">
      <p class="regular-prose">
        Droidcon is back! India's largest Android conference is on 28th - 30th November 2013 at the <a href="http://goo.gl/maps/9IDoI" target="_blank">MLR Convention Centre, Whitefield, Bangalore</a>. Join us for three days of in-depth, hands-on sessions on everything about Android. <br><br>
        This year, we've lined up dedicated tracks for deep dives into Systems, UX, Gaming, Business & App Demos that bring together the best speakers in the country. Of note this year, the Systems track shall span two days, and provide deep technical sessions.
      </p>
    </div>
  </div>
</section>
