<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
      <p>
        Meta Refresh is a conference on the construction of the user experience on the web. This year’s edition spans two days - 16 & 17 April 2015. The conference feature a single track on both days.</p><p>Meta Refresh is a conference for working web designers and developers to present on how their own work has advanced the state of the web in the past year. You are expected to present original work that your peers — this event’s audience — recognise as being notable enough to deserve a stage.</p>      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
      <p> 
        Last year's edition was about the need for frontend engineers to exchange skills with designers, as well as automating frontend workflows. The emphasis was on making web engineering a two-way interaction between designers and engineers, and getting them out of their comfort zones.
      </p>
      <p>
        For 2015 our focus is on (a) Design from a web engineering standpoint, and (b) Enhancing the state of web experiences on mobile devices, with their many constraints. Proposals are open; do head along to our <a href="https://metarefresh.talkfunnel.com/2015/">funnel</a> to propose a talk!
      </p>
    </div>
  </div>
  <br>
  <div class="row-fluid container">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-left">
      <div class="button button-blue">
        <a href="/2015/workshops"><div class="bold">ReactJS Workshop</div></a>
        <div class="secondary-prose all-capitalize">15 April</div>
        <a href="/2015/workshops#workshop-venue"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</div></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-center">
      <div class="button">
        <a href="/2015/conference"><div class="bold">Conference</div></a>
        <div class="secondary-prose all-capitalize">16-17 April</div>
        <a href="/2015/venue#conference-venue"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;MLR Convention Center, JP Nagar, Bangalore</div></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-right">
      <div class="button button-on-blue">
        <a href="/2015/workshops"><div class="bold">Performance Audit Workshop</div></a>
        <div class="secondary-prose all-capitalize">18 April</div>
        <a href="https://www.google.co.in/maps/place/HasGeek+House/@12.961443,77.64435,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae15c416bbac85:0x64a1f453c10e1ded"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;HasGeek House, Bangalore</div></a>
      </div>
    </div>
    
  </div>
</section>
