<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
      <p>
      	Meta Refresh is a conference on the construction of user experience on the web, it is on 14th - 15th February 2014 at the <a href="http://goo.gl/maps/pTOsq" target="_blank">MLR Convention Centre, JP Nagar, Bangalore</a>. This year we have pre-conference hands-on workshops on 12th - 13th February which dive deep into user interface design. Come join with us.</p>      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
    	<p> 
      	2013 edition was about letting go. It was about learning the skills necessary to build experiences which cannot possibly exist in any medium apart from the internet. It showcased people who have a deep understanding of what the internet is and what it can be: people who have built experiences and can tell you what they have learnt.
      </p>
    </div>
  </div>
</section>
