<section class="miniconf-sponsors push-three-bottom clearfix {% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <h2 class="large all-caps text-center space-two-bottom">Miniconf Sponsor</h2>
    </div>
    <div class="row-fluid space-two">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-mg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nospace-bottom link-silent clearfix list-space-line sponsor-xl">
          <a target="_blank" href="http://www.google.co.in" class="occupy fill-white sponsor-logo contain-width">
            <img alt="Google" src="https://imgee.s3.amazonaws.com/imgee/4f47903a21b549fa86ddde09f61183f5.png">
          </a>
      </div>
    </div>
  </div>
</section>