<section id="miniconf-schedule" class="schedule push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-half-bottom">AngularJS Miniconf Schedule</div>
    <div class="all-caps legible dark-gray space-two-bottom">11 February <button class="tiny-prose button white button-mini" data-toggle="modal" data-target="#myModal"><i class="icon-calendar"></i>&nbsp;&nbsp;Subscribe</button></div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body dark">
          <h3><i class="icon-calendar"></i>&nbsp;&nbsp;AngularJS Miniconf</h3>
          <div class="tiny"><a href="webcal://funnel.hasgeek.com/angularjs-miniconf-2014/schedule/ical" class="button button-mini button-on-blue all-capitalize">Subscribe</a> <a href="https://www.google.com/calendar/render?cid=webcal%3A//funnel.hasgeek.com/angularjs-miniconf-2014/schedule/ical" target="_blank" class="button button-mini button-blue all-capitalize">Subscribe using Google Calender</a></div><br>
          <h3><i class="icon-calendar"></i>&nbsp;&nbsp;Meta Refresh Workshops &amp; Conference</h3>
          <div class="tiny"><a href="webcal://funnel.hasgeek.com/metarefresh2014/schedule/ical" class="button button-mini button-on-blue all-capitalize">Subscribe</a> <a href="https://www.google.com/calendar/render?cid=webcal%3A//funnel.hasgeek.com/metarefresh2014/schedule/ical" target="_blank" class="button button-mini button-blue all-capitalize">Subscribe using Google Calender</a></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid container">
	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		  <ul class="unstyled schedule ">
		    <li class="row">
		      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 legible nospace-bottom clearfix text-center">
		        <h3 class="nospace-top legible-prose prose-type"><span class="">Starts at</span></h3>
		      </div>
		      <div class="col-lg-10 col-md-5 col-sm-5 col-xs-5 nospace-bottom clearfix text-left theme-box-right theme-transparent">
		        <h3 class="nospace-top legible-prose prose-type"><span class="">Session</span></h3>
		      </div>
		    </li>
		    <li class="row">
	    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
					<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">09:00</h3>
				</div>
				<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-left theme-box-right theme-transparent">
				<div class="space-1q-top"><span class="calm italic secondary-prose">Check-in</span></div>
				</div>
		    </li>
		    <li class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">10:00</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-left theme-box-right">
						<h3 class="nospace-top legible-prose prose-type"><span>AngularJS: How, Why and Whats the difference?</span></h3>
						<p class="prose-type tiny calm">
						<span class="link-silent"><a href="https://funnel.hasgeek.com/angularjs-miniconf-2014/1060-angularjs-how-why-and-whats-the-difference"><i class="icon-filter"></i></a><span class="tiny">Shyam Seshadri</span>
						</p>
					</div>
		    </li>
		    <li class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">10:45</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-left theme-box-right">
						<h3 class="nospace-top legible-prose prose-type"><span>Engineering Complex Web-Apps using Angular and RequireJS</span></h3>
						<p class="prose-type tiny calm">
						<span class="link-silent"><a href="https://funnel.hasgeek.com/angularjs-miniconf-2014/980-engineering-complex-web-apps-using-angular-and-req"><i class="icon-filter"></i></a><span class="tiny">Kapil Verma</span>
						</p>
					</div>
		    </li>
		    <li class="row">
		    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">11:30</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-left theme-box-right theme-transparent">
					<div class="space-1q-top"><span class="calm italic secondary-prose">Tea break</span></div>
					</div>
		    </li>
		    <li class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">11:45</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-left theme-box-right">
						<h3 class="nospace-top legible-prose prose-type"><span>Highly Interactive Charts using Angular Directives</span></h3>
						<p class="prose-type tiny calm">
						<span class="link-silent"><a href="https://funnel.hasgeek.com/angularjs-miniconf-2014/1046-highly-interactive-charts-using-angular-directives"><i class="icon-filter"></i></a><span class="tiny">Lakshman Prasad</span>
						</p>
					</div>
		    </li>
		    <li class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">12:30</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-left theme-box-right">
						<h3 class="nospace-top legible-prose prose-type"><span>Intersection of Crossfilter and Angularjs</span></h3>
						<p class="prose-type tiny calm">
						<span class="link-silent"><a href="https://funnel.hasgeek.com/angularjs-miniconf-2014/973-intersection-of-crossfilter-and-angularjs"><i class="icon-filter"></i></a><span class="tiny">Anupam Mediratta</span>
						</p>
					</div>
		    </li>
		    <li class="row">
		    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">01:00</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-left theme-box-right theme-transparent">
					<div class="space-1q-top"><span class="calm italic secondary-prose">Lunch break</span></div>
					</div>
		    </li>
		    <li class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">02:00</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-left theme-box-right">
						<h3 class="nospace-top legible-prose prose-type"><span>Workshop: Test Driven Angular JS Development</span></h3>
						<p class="prose-type tiny calm">
						<span class="link-silent"><a href="https://funnel.hasgeek.com/angularjs-miniconf-2014/985-test-driven-angular-js-development"><i class="icon-filter"></i></a><span class="tiny">Leena SN and Sreenath Nannat</span>
						</p>
					</div>
		    </li>
		    <li class="row">
		    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible nospace-bottom clearfix text-center">
						<h3 class="all-caps nospace-top large-prose space-half-bottom semibold">05:00</h3>
					</div>
					<div class="col-lg-10 col-md-5 col-sm-5 col-xs-12 legible-prose clearfix text-left theme-box-right theme-transparent">
					<div class="space-1q-top"><span class="calm italic secondary-prose">Closing</span></div>
					</div>
		    </li>
		  </ul>
		</div>
  </div>
</section>

