<section id="highlights" class="push-two nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 push-one-bottom">
      <h2 class="extralarge all-caps">Previously at<br />Meta Refresh</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="//metarefresh.in/2013/">Bangalore&nbsp;2013</a></li>
        <li><a href="//metarefresh.in/2012/">Bangalore&nbsp;2012</a></li>
      </ul>
    </div>
    
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 legible-prose prose prose-type space-one-top">
      <p>Meta Refresh had two editions in Bangalore. The 2013 edition was about letting go. It was about learning the skills necessary to build experiences which cannot possibly exist in any medium apart from the internet. It showcased people from all over the world who have built experiences with a deep understanding of what the internet is and what it can be.</p>
      <p>2012 edition was about putting the specs aside and revisit the construction of user interface on the world's biggest platform - the web. It was a single day - 4 track event which covered stories, process, browsers and tools.</p>
    </div>
  </div>
  
  <div class="row-fluid space-two-top">
    <div class="container">
      <h3 class="col-lg-5 col-md-5 col-sm-5 col-xs-12 legible all-caps space-one-bottom">Highlights</h3>   
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 contain-width link-silent">
        <article class="ngap-one pad-one push-one-bottom fade-blue-to-brown video-thumbnail prose-type clearfix">
          <p>
            <a href="https://hasgeek.tv/metarefresh/2013/507-the-quest-for-the-graphical-web">
              <img alt="" src="https://images.hasgeek.com/embed/file/fe0b9d91a4464a018d662df1ebe3c5fd">
            </a>
          </p>
          <h4 >
            <a href="https://hasgeek.tv/metarefresh/2013/507-the-quest-for-the-graphical-web">The quest for the graphical web</a>
          </h4>
          <h5>
            Vincent Hardy
          </h5>
        </article>
      </div>
    </div>
    
    
    <div class="clearboth fill-brown push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/metarefresh/2013/493-why-the-next-big-thing-sucks">
                <img alt="" src="https://images.hasgeek.com/embed/file/7e57181f005a43e28ac58b44fe1d419d">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/metarefresh/2013/493-why-the-next-big-thing-sucks">
                Why the next big thing sucks
              </a>
            </h4>
            <h5>
              Benjamin Arthur Lupton
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/metarefresh/2013/496-maintainable-frontend-development-with-bem">
                <img alt="" src="https://images.hasgeek.com/embed/file/ce0de9ba0a324cf0a17dcdd91434de51">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/metarefresh/2013/496-maintainable-frontend-development-with-bem">Maintainable frondend development with BEM</a>
            </h4>
            <h5>
              Varvara Stepanova
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/metarefresh/2013/495-overexposed">
                <img alt="" src="https://images.hasgeek.com/embed/file/c8064e63f3064845998423ead05c01f5">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/metarefresh/2013/495-overexposed">
                Overexposed
              </a>
            </h4>
            <h5>
              Souvik Das Gupta
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/metarefresh/2013/506-sublimevideo">
                <img alt="" src="https://images.hasgeek.com/embed/file/6cb37027549d4e9484da03c12a279358">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/metarefresh/2013/506-sublimevideo">
                SublimeVideo
              </a>
            </h4>
            <h5>
              Zeno Crivelli
            </h5>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="fill-brown push-one-top push-three-bottom">
    <div class="container text-center">
      <a target="_blank" href="https://hasgeek.tv/metarefresh/" class="button regular-prose">More videos on HasGeek TV</a>
      <p class="space-one-top regular-prose">Photos:&nbsp;&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157629525809504/">2012</a>,&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157632875856893/">2013</a></p>
    </div>
  </div>
</section>
