<div id="special-offers" class="push-two-bottom clearfix">
  <div class="container">
    <div class="row-fluid">
    <h2 class="large all-caps text-center space-two-bottom">Special Offers</h2>
  </div>
    <div class="row-fluid">
      

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fill-greengray">
        <div class="offer-text row">
          <ul class="list-silent">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 push-half fill-lightgray dark text-center offer-block">
              <div class="extralarge hidden-xs"><i class="icon-desktop brown"></i></div>
              <div class="regular text-left">
                <span class="regular-prose">Get a 1 month free account of <span class="bold">Visual Website Optimizer</span> with 5000 visitor testing quota<br><br class="visible-sm"><a href="http://resources.visualwebsiteoptimizer.com/metarefresh-2014" target="_blank" class="blue">more info <i class="icon-double-angle-right"></i></a></span>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 push-half fill-mediumgray dark text-center offer-block">
              <div class="extralarge hidden-xs"><i class="icon-money brown"></i></div>
              <div class="regular text-left"><span class="regular-prose">Help people with <span class="bold">Milaap</span>, Get 30% off on Meta Refresh conference tickets <br><br class="visible-lg visible-sm"><a href="http://campaigns.milaap.org/metarefresh2014/" target="_blank" class="blue">more info <i class="icon-double-angle-right"></i></a></span></div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
              <div class="extralarge hidden-xs"><i class="icon-road brown"></i></div>
              <div class="regular text-left"><span class="regular-prose">Share a taxi to Meta Refresh 2014 with <span class="bold">RideShare</span> &amp; Network with interesting people over the ride! <br><a href="http://rideshare.co/meta-refresh-2014/" target="_blank" class="blue">more info <i class="icon-double-angle-right"></i></a></span></div>
            </li>
            
          </ul>         
        </div>   
      </div>
    </div>
  </div>
</div>