<div id="special-offers" class="push-two-bottom clearfix fill-blue">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fill-darkgray text-center">
        <div class="yellow offer bold push-1q"><i class="icon-bullhorn"></i>&nbsp;&nbsp;SPECIAL OFFERS</div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fill-greengray">
        <div class="offer-text row">
          <ul class="list-silent">
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-half-top fill-mediumgray dark text-center offer-block">
              <div class="regular white text-left"><i class="icon-desktop"></i>&nbsp;&nbsp;<span class="regular-prose">Get a 1 month free account of <span class="bold">Visual Website Optimizer</span> with 5000 visitor testing quota <a href="http://resources.visualwebsiteoptimizer.com/metarefresh-2014" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></span>
            </li>
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fill-mediumgray dark text-center offer-block">
              <div class="regular white text-left"><i class="icon-money"></i>&nbsp;&nbsp;<span class="regular-prose">Help people with <span class="bold">Milaap</span>, Get 30% off on Meta Refresh conference tickets <a href="http://campaigns.milaap.org/metarefresh2014/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></span>
            </li>
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-half-bottom space-one-bottom fill-mediumgray dark text-center offer-block">
              <div class="regular white text-left"><i class="icon-road"></i>&nbsp;&nbsp;<span class="regular-prose">Share a taxi to Meta Refresh 2014 with <span class="bold">RideShare</span> &amp; Network with interesting people over the ride! <a href="http://rideshare.co/meta-refresh-2014/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></span>
            </li>
            
          </ul>         
        </div>   
      </div>
    </div>
  </div>
</div>