<section class="tshirt push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-two-bottom">
  		<h2>We have a cool t-shirt for you!</h2>
    	<h3 class="tiny space-one-bottom"><a href="http://www.storythread.in/shop/tees-for/hasgeek/meta-refresh-2014-blue.html" target="_blank" class="link-silent">Grab it online</a> or from the conference venue</h3>
  		<div class="row">
  			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 contain-width">
  				<img src="https://imgee.s3.amazonaws.com/imgee/5ab54115d8aa4ea3ae67be213f63b56f_w600_h618.jpeg" alt="">
  			</div>
  			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  				<h3>#t-shirt {<br>
  					&nbsp;&nbsp;&nbsp;content: "codesign";<br>
  					&nbsp;&nbsp;&nbsp;color: blue;<br>
  					&nbsp;&nbsp;&nbsp;price: Rs. 400;<br>
  				}</h3>
          <p class="space-one-top">
            <a target="_blank" href="http://www.storythread.in/shop/tees-for/hasgeek/meta-refresh-2014-blue.html" class="button bold white secondary-prose">Buy Tshirt</a>
          </p>
  			</div>
  		</div>
    	
  	</div>  
  </div>
</section>