{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
{% extends theme("layout.html") %}
{% block titletags -%}
  <title>{% block title %}{{ node.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ node.title }}"/>
{%- endblock %}
{% block headerbox %}
  <header id="top" class="section1 rounded">
    {% block networkbar %}{{ networkbar(siteid='events', login=false) }}{% endblock %}
    <div id="page-header" class="container">
      <div id="logo"></div>
      <h2>February 21-22, 2014,<br> Bangalore, India</h2>
      <div class="description">
        Opens September 2013.
        Previously: <a href="/2013">2013</a>, <a href="/2012">2012</a>.<br>
        Videos on <a href="http://hasgeek.tv/metarefresh/">HasGeek TV</a>.<br>
        @<a href="http://twitter.com/metarefresh">metarefresh</a>,
        @<a href="http://twitter.com/hasgeek">hasgeek</a>,
        <a href="mailto:info@hasgeek.com">info@hasgeek.com</a>
      </div>
    </div>
  </header>
{% endblock %}
{% block headline %}{% endblock %}
{% block main %}{% endblock %}

{% block footerscripts %}
{% endblock %}
