{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
{% extends theme("layout.html") %}
{% block titletags -%}
  <title>{% block title %}{{ node.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ node.title }}"/>
{%- endblock %}
{% block headerbox %}
  <header class="section1 rounded">
    {% block networkbar %}{{ networkbar(siteid='events', login=false) }}{% endblock %}
    
    <div id="page-header" class="container">
      <img src="{{ theme_static('img/logo.svg') }}" onerror="this.onerror = null; this.src='{{ theme_static('img/logo.png') }}';">
      <h2>February 22-23, 2013, Bangalore, India</h2>
    </div>
  </header>
{% endblock %}
{% block headline %}{% endblock %}
{% block main %}
  <div class="main-navbar">
    <ul class="nav" id="main-nav">
      <li><a href="#"><i class="icon-repeat"></i><br />About</a></li>
      <li><a href="#"><i class="icon-user"></i><br />Speakers</a></li>
      <li><a href="#"><i class="icon-time"></i><br />Schedule</a></li>
      <li><a href="#"><i class="icon-money"></i><br />Sponsors</a></li>
      <li><a href="#"><i class="icon-map-marker"></i><br />Venue</a></li>
      <li><a href="#"><i class="icon-signin"></i><br />Register</a></li>
    </ul>
  </div>
  <div class="main-navbar-bottom">
  </div>
  <div class="section2 masthead rounded">
    <div class="container centered">
      <img src="{{ theme_static('img/wheel_black.png') }}">
      <h1>A conference on the construction of <br />user experience on the web.</h1>
    </div>
  </div>
  <div class="section3 rounded">
    <div class="container">
      <div class="description">
        {{ node.content }}
      </div>
    </div>
  </div>

  <div class="section4 rounded">
    <div class="container">
      <h1 class="section-heading">Speakers</h1>
      {% include theme("inc/speakers.html") %}
    </div>
  </div>
  <div class="section5 rounded">
    <div class="Sponsors">
      <h1 class="section-heading">Schedule</h1>
      <div class="description">Will be Announced Soon..</div>
    </div>
  </div>
  <div class="section6 rounded">
    <div class="container">
      <h1 class="section-heading">Sponsors</h1>
      {% include theme("inc/sponsors.html") %}
    </div>
  </div>
  <div class="section7 rounded">
    <div class="container">
      <h1 class="section-heading">Venue</h1>
      {% include theme("inc/venue.html") %}
    </div>
  </div>
  <div class="section8 rounded">
    <div class="container">
      <h1 class="section-heading">Register</h1>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    // fixed nav-bar transition code
    // adapted from twitter bootstrap docs' sub-nav
    var $win = $(window)
      , $nav = $('.main-navbar')
      , $masthead = $('#masthead')
      , navTop = $nav.length && $nav.offset().top // - 40
      , isFixed = 0;
    
    var processScroll = function () {
      var scrollTop = $win.scrollTop();
      if (scrollTop >= navTop && !isFixed) {
        isFixed = 1;
        $nav.addClass('navbar-fixed-top');
        $masthead.addClass('navbar-margin');
      } else if (scrollTop <= navTop && isFixed) {
        isFixed = 0;
        $nav.removeClass('navbar-fixed-top');
        $masthead.removeClass('navbar-margin');
      };
    };
    
    processScroll();
    
    $win.on('scroll', processScroll);
    
    // smooth scroll nav links
    $('a', $nav).smoothScroll({
        offset: -80
      , speed: 900
    });

  });
</script>
{% endblock %}