{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
{%- extends "eventframe.html" -%}

{% block layoutheaders %}
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>

  {% block pageheaders %}

  {% endblock %}
{% endblock %}

{% block networkbar %}{{ networkbar(siteid='events', login=false) }}{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      <h1>{{ self.title() }}</h1>
    </div>
  {%- endblock %}
{%- endblock %}

{% block basecontent -%}
  {% block content %}{% endblock %}
{%- endblock %}
