<section class="section">
  <div class="container">
    <div class="section-header">
    </div>
    <div class="row">
      
      <div class="span6 people">
        <div class="row">
          <div class="span2">
            Program Committee
          </div>
          <div class="span4">
            <ul>
              <li>Sunit Singh <em>(Cleartrip)</em></li>
              <li>Angad Kingra <em>(Zomato)</em></li>
              <li>Rahul Gonsalves <em>(Pixelogue)</em></li>
              <li>Kiran Jonnalagadda <em>(HasGeek)</em></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            Team HasGeek
          </div>
          <div class="span4">
            <ul>
              <li>Kiran Jonnalagadda</li>
              <li>Zainab Bawa</li>
              <li>Radha Rao</li>
              <li>Kracekumar Ramaraju</li>
              <li>Praseetha KR</li>
              <li>Haris Ibrahim KV</li>
              <li>Jamna Vyas</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            Supported By
          </div>
          <div class="span4">
            <a href="http://www.cis-india.org/">The Centre for Internet and Society</a>
          </div>
        </div>
        <div class="row">
          <div class="span2">
          </div>
          <div class="span4">
          </div>
        </div>
      </div>
      <div class="span6">
        {% with f = fragment('2013', 'about-hasgeek') %}
          <div class="section-subheader">
            <!--<h3>{{ f.title }}</h3>-->
          </div>
          <img src="{{ theme_static('img/2013/sponsors/hg-logo.png') }}">
          {{ f.content }}
        {% endwith %}
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /venue -->
