<section class="section">
  <div class="container">
    <div class="row" id="preview-videos">
      <h3 class="sub-heading">Watch Talk Previews <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews">on HasGeek TV</a></h3>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/379-why-the-next-big-thing-sucks">
            <img src="{{ theme_static('img/2013/preview-videos/benjamin_lupton.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Why the next big thing sucks</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/487-design-by-philosophy">
            <img src="{{ theme_static('img/2013/preview-videos/prateek.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Design by Philosophy</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/481-questioning-the-why">
            <img src="{{ theme_static('img/2013/preview-videos/navjot.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Questioning the "why"</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/478-maintainable-frontend-development-with-bem">
            <img src="{{ theme_static('img/2013/preview-videos/varvara.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Maintainable frontend development with BEM</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/488-overexposed">
            <img src="{{ theme_static('img/2013/preview-videos/souvik.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Overexposed</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/489-getting-serious-about-responsive-web-design">
            <img src="{{ theme_static('img/2013/preview-videos/arpan.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Getting Serious about Responsive web design</p>
          </a>
        </div>
      </div>
      <div class="span3">
        <div class="preview-video">
          <a target="_blank" href="http://hasgeek.tv/metarefresh/2013-previews/490-web-components-and-the-future-of-web-development">
            <img src="{{ theme_static('img/2013/preview-videos/varunkumar.png') }}" />
            <div class="play-btn"><i class="icon-play"></i></div>
            <p>Web Components and the future of web development</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>