<div class="row schedule-header">
  <div class="span5 day1">
    <div id="day1-head">Day 1</div>
  </div>
  <div class="span2 time">
    <div id="time-head">Starts at</div>
    <div id="time-head-mobile">Time</div>
  </div>
  <div class="span5 day2">
    <div id="day2-head">Day 2</div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Breakfast</div>
    <div class="schedule-talk">-</div>
  </div>
  <div class="span2 time">
    <div class="start-time">08:00<span class="end-time"> - 09:00</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Breakfast</div>
    <div class="schedule-talk">-</div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Benjamin Arthur Lupton</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/600-why-the-next-big-thing-sucks">Why the next big thing sucks</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">09:30<span class="end-time"> - 10:15</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Tulsi Dharmarajan</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/615-high-on-design">High on design</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Navjot Pawera</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/620-questioning-the-why">Questioning the "why"</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">10:30<span class="end-time"> - 11:15</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Prateek Rungta</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/625-design-by-philosophy">Design by philosophy</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Souvik Das Gupta</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/624-overexposed">Overexposed</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">11:30<span class="end-time"> - 12:15</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Avinasha Shastry</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/609-user-developer-experience-design-of-your-web-api">User (developer) experience of your web API</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Varvara Stepanova</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/606-bem-methodology-tools-and-libraries-for-building-frontend">Maintainable frontend development with BEM</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">12:30<span class="end-time"> - 01:15</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Shyamala Prayaga</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/622-mobile-accessibility-challenges-and-best-practices">Mobile accessibility - challenges and best practices</a></div>
  </div>
</div>
<hr />
<div class="row">
	<div class="span5 day1">
		<div class="schedule-speaker">Lunch</div>
		<div class="schedule-talk">-</div>
	</div>
	<div class="span2 time">
		<div class="start-time">01:15<span class="end-time"> - 02:15</span></div>
	</div>
	<div class="span5 day2">
		<div class="schedule-speaker">Lunch</div>
		<div class="schedule-talk">-</div>
	</div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Akash Mahajan</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/634-how-to-tell-if-youre-designing-an-insecure-site">HOW TO tell if you're designing an insecure site</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">02:15</div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Shwetank Dixit</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/621-how-to-defend-the-web">How to defend the web</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Varunkumar Nagarajan</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/627-web-components-and-the-future-of-web-development">Web components and the future of web development</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">03:15<span class="end-time"> - 04:00</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Arpan Chinta</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/617-getting-serious-about-responsive-web-design">Getting serious about Responsive Web Design</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Prem Nawaz Khan</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/603-inclusive-design-challenges-with-ui-widgets">Inclusive design challenges with UI widgets</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">04:15<span class="end-time"> - 05:00</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Zeno Crivelli</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/640-sublimevideo">SublimeVideo</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Lightning talks</div>
    <div class="schedule-talk">Audience time: 5 minutes per talk</div>
  </div>
  <div class="span2 time">
    <div class="start-time">05:15<span class="end-time"> - 06:00</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-speaker">Vincent Hardy</div>
    <div class="schedule-talk"><a href="http://funnel.hasgeek.com/metarefresh2013/626-the-quest-for-the-graphical-web">The quest for the graphical web</a></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5 day1">
    <div class="schedule-speaker">Party</div>
    <div class="schedule-talk"><a>Metarefresh Event Party</a></div>
  </div>
  <div class="span2 time">
    <div class="start-time">07:00<span class="end-time"> - 11:00</span></div>
  </div>
  <div class="span5 day2">
    <div class="schedule-talk">-</div>
  </div>
</div>