<div class="schedule-placeholder">
    Will be Announced Soon.<br/>
    <a target="_blank" href="http://funnel.hasgeek.com/metarefresh2013/">View Proposals</a>
</div>
<div class="video-reel description">
	<h3><a href="http://hasgeek.tv/metarefresh/2013-previews">Watch Speaker Preview Videos on HasGeek TV</a></h3>
	<ul>
		<li><a href="http://hasgeek.tv/metarefresh/2013-previews/379-why-the-next-big-thing-sucks"><img src="{{ theme_static('img/2013/preview-videos/benjamin_lupton.png') }}"></a></li>
		<li><a href="http://hasgeek.tv/metarefresh/2013-previews/478-maintainable-frontend-development-with-bem"><img src="{{ theme_static('img/2013/preview-videos/varvara.png') }}"></a></li>
	</ul>
</div>

