<section class="section">
  <div class="container">
    <div class="row">
      <div class="speakers">
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="The Quest for the Graphical Web" href="http://funnel.hasgeek.com/metarefresh2013/626-the-quest-for-the-graphical-web"><img src="{{ theme_static('img/2013/speakers/vincent.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Vincent Hardy</h3>
              <p>Director of Engineering for the Web Platform Group at Adobe<br>
                <span class="from">San Jose, USA</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title1" rel="popover" data-toggle="popover" data-placement="bottom" data-content="Vincent will show and inspire the audience with existing and ucoming web graphical features with an interactive presentation." data-original-title="The Quest for the Graphical Web">The Quest for the Graphical Web</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Why the next big thing sucks" href="http://funnel.hasgeek.com/metarefresh2013/600-why-the-next-big-thing-sucks"><img src="{{ theme_static('img/2013/speakers/benjamin_lupton.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Benjamin Arthur Lupton</h3>
              <p>Founder of Bevry, DocPad, History.js &amp; Startup Hostel<br>
                <span class="from">Sydney, Australia</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title2" rel="popover" data-toggle="popover" data-placement="bottom" data-content="We're coders, not hipsters. We're here to change the world, not be swept up by change." data-original-title="Why the next big thing sucks">Why the next big thing sucks</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Design by Philosophy" href="http://funnel.hasgeek.com/metarefresh2013/625-design-by-philosophy"><img src="{{ theme_static('img/2013/speakers/prateek_rungta.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Prateek Rungta</h3>
              <p>Designer at Miranj<br>
                <span class="from">New Delhi, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title3" rel="popover" data-toggle="popover" data-placement="bottom" data-content="Prateek will show how designers can evolve by basing their design decisions on the most basic forms of ideas — philosophies." data-original-title="Design by Philosophy">Design by Philosophy</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Questioning the 'why'" href="http://funnel.hasgeek.com/metarefresh2013/620-questioning-the-why"><img src="{{ theme_static('img/2013/speakers/navjot.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Navjot Pawera</h3>
              <p>Head of Product Design at buUuk &amp; Co-founder of Extra Thought<br>
                <span class="from">Singapore</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title4" rel="popover" data-toggle="popover" data-placement="bottom" data-content="Navjot will remind us that questioning our goals is probably the most important piece in creating a useful, and usable product." data-original-title="Questioning the 'why'">Questioning the 'why'</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="How to defend the Web" href="http://funnel.hasgeek.com/metarefresh2013/621-how-to-defend-the-web"><img src="{{ theme_static('img/2013/speakers/shwetank.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Shwetank Dixit</h3>
              <p>Developer Relations Team at Opera Software<br>
                <span class="from">Chandigarh, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title5" rel="popover" data-toggle="popover" data-placement="bottom" data-content="We Web Developers focus most of the time on the 'Developers' part and sometimes forget the 'Web' Part. We'll focus on the 'Web' part here and see how not to sink in the trap of taking shortcuts at the expense of the Web." data-original-title="How to defend the Web">How to defend the Web</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Getting Serious about Responsive web design" href="http://funnel.hasgeek.com/metarefresh2013/617-getting-serious-about-responsive-web-design"><img src="{{ theme_static('img/2013/speakers/arpan.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Arpan Chinta</h3>
              <p>Cross-device UI designer at HordeSoftware<br>
                <span class="from">Hyderabad, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title6" rel="popover" data-toggle="popover" data-placement="bottom" data-content="We need to rethink the way we design web sites. Screen sizes (mobile, tablet, desktop, TV), user context (at home, on the road…), input methods (mouse, keyboard, touch screens), all have an impact in the way users interact with websites and we need to take that into account when we are designing the sites. The focus of this talk is going to be on new designs, built from the ground up to be responsive." data-original-title="Getting Serious about Responsive web design" data-original-title="Getting Serious about Responsive web design">Getting Serious about Responsive web design</a>
          </h4>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Overexposed" href="http://funnel.hasgeek.com/metarefresh2013/624-overexposed"><img src="{{ theme_static('img/2013/speakers/souvik.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Souvik Das Gupta</h3>
              <p>Designer at Miranj<br>
                <span class="from">New Delhi, India</span></p>
          </div> 
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title7" rel="popover" data-toggle="popover" data-placement="bottom" data-content="To encourage designers to proactively reduce exposure of unnecessary details in their designs." data-original-title="Overexposed">Overexposed</a>
          </h4>      
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="BEM. Methodology, tools and libraries for building frontend" href="http://funnel.hasgeek.com/metarefresh2013/606-bem-methodology-tools-and-libraries-for-building-frontend"><img src="{{ theme_static('img/2013/speakers/varvara.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Varvara Stepanova</h3>
              <p>Front-end Developer at Yandex<br>
                <span class="from">Moscow, Russia</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title8" rel="popover" data-toggle="popover" data-placement="bottom" data-content="BEM is a methodology and set of tools (http://bem.info) for front end developers. Created by the Russian search giant Yandex and released as Open Source, BEM has become a standard toolkit for development in Russia and neighboring countries. This presentation introduces our technologies and methods to make web projects faster to develop, easier to maintain, and with high quality. Varvara will also talk about what is new and what we are working on now." data-original-title="Maintainable frontend development with BEM">Maintainable frontend development with BEM</a>
          </h4> 
        </div>
        
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="SublimeVideo" href="http://funnel.hasgeek.com/metarefresh2013/640-sublimevideo"><img src="{{ theme_static('img/2013/speakers/zeno.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Zeno Crivelli</h3>
              <p>Co-founder at Jilion<br>
                <span class="from">Lausanne, Switzerland</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title9" rel="popover" data-toggle="popover" data-placement="bottom" data-content="SublimeVideo started out as the first HTML5 Video player and has since grown into a platform. Zeno will share the story of SublimeVideo and demonstrate what is possible with HTML5 Video and other modern Web technologies." data-original-title="SublimeVideo">SublimeVideo</a>
          </h4> 
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="User (Developer) Experience design of your web API" href="http://funnel.hasgeek.com/metarefresh2013/609-user-developer-experience-design-of-your-web-api"><img src="{{ theme_static('img/2013/speakers/avinasha.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Avinasha Shastry</h3>
              <p>Backend hacker at SupportBee<br>
                <span class="from">Bangalore, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title9" rel="popover" data-toggle="popover" data-placement="bottom" data-content="A discussion on improving the developer experience of consuming an API by making it as easy as possible to consume" data-original-title="User (Developer) Experience design of your web API">User(Developer) Experience design of your web API</a>
          </h4> 
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Inclusive Design challenges with UI Widgets" href="http://funnel.hasgeek.com/metarefresh2013/603-inclusive-design-challenges-with-ui-widgets"><img src="{{ theme_static('img/2013/speakers/prem_navaz.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Prem Nawaz Khan</h3>
              <p>Accessibility Evangelist &amp; UI Engineer at PayPal<br>
                <span class="from">Chennai, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title9" rel="popover" data-toggle="popover" data-placement="bottom" data-content="Learn how difficult it is to use UI widgets - Step by Step Guide to to make your widgets usable for Keyboard only, Screen reader, Mobile users etc. - Simple Demo on Drop Down widget" data-original-title="Inclusive Design challenges with UI Widgets">Inclusive Design challenges with UI Widgets</a>
          </h4> 
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Web components and the future of web development" href="http://funnel.hasgeek.com/metarefresh2013/627-web-components-and-the-future-of-web-development"><img src="{{ theme_static('img/2013/speakers/varunkumar.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Varunkumar Nagarajan</h3>
              <p>Software Engineer at a global investment firm<br>
                <span class="from">Hyderabad, India</span></p>
          </div>
          <h4 class="talk-title"><i class="icon-quote-left"></i>
            <a id="talk-title9" rel="popover" data-toggle="popover" data-placement="bottom" data-content="Learn how to build re-usable web components using the techniques which are currently supported by various browsers, knowing their limitations and understanding what we can expect in the future" data-original-title="Web components and the future of web development">Web components and the future of web development</a>
          </h4> 
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="To Be Announced" href=""><img src="{{ theme_static('img/2013/speakers/TBA.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>To Be Announced</h3>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="To Be Announced" href=""><img src="{{ theme_static('img/2013/speakers/TBA.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>To Be Announced</h3>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="To Be Announced" href=""><img src="{{ theme_static('img/2013/speakers/TBA.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>To Be Announced</h3>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="To Be Announced" href=""><img src="{{ theme_static('img/2013/speakers/TBA.jpg') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>To Be Announced</h3>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->