<section class="section">
  <div class="container">
    <div class="row">
      <div class="speakers">
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/vincent.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Vincent Hardy</h3>
              <em>Director of Engineering for the Web Platform Group at Adobe</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/benjamin_lupton.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Benjamin Arthur Lupton</h3>
              <em>Founder of Bevry, DocPad, History.js &amp; Startup Hostel</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/prateek_rungta.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Prateek Rungta</h3>
              <em>Designer at Miranj</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/navjot.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Navjot Pawera</h3>
              <em>Sr. Product Manager at BubbleMotion &amp; Co-founder of Extra Thought</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/shwetank.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Shwetank Dixit</h3>
              <em>Developer Relations Team at Opera Software</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/arpan.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Arpan Chinta</h3>
              <em>Cross-device UI designer at HordeSoftware</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/souvik.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Souvik Das Gupta</h3>
              <em>Co-founder of Miranj</em>
          </div>        
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/ashok.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Ashok Banerjee</h3>
              <em>VP of Data Platform and Analytics Engineering at Flipkart</em>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <img src="{{ theme_static('img/2013/speakers/varvara.png') }}" />
          </div>
          <div class="speaker-name">
              <h3>Varvara Stepanova</h3>
              <em>Front-end Developer at Yandex</em>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->