<section class="section">
  <div class="container">
    <div class="row">
      <div class="speakers">
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="The Quest for the Graphical Web" href="http://funnel.hasgeek.com/metarefresh2013/626-the-quest-for-the-graphical-web"><img src="{{ theme_static('img/2013/speakers/vincent.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Vincent Hardy</h3>
              <p>Director of Engineering for the Web Platform Group at Adobe<br>
                <span class="from">San Jose, USA</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Why the next big thing sucks" href="http://funnel.hasgeek.com/metarefresh2013/600-why-the-next-big-thing-sucks"><img src="{{ theme_static('img/2013/speakers/benjamin_lupton.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Benjamin Arthur Lupton</h3>
              <p>Founder of Bevry, DocPad, History.js &amp; Startup Hostel<br>
                <span class="from">Sydney, Australia</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Design by Philosophy" href="http://funnel.hasgeek.com/metarefresh2013/625-design-by-philosophy"><img src="{{ theme_static('img/2013/speakers/prateek_rungta.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Prateek Rungta</h3>
              <p>Designer at Miranj<br>
                <span class="from">New Delhi, India</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Questioning the "why"" href="http://funnel.hasgeek.com/metarefresh2013/620-questioning-the-why"><img src="{{ theme_static('img/2013/speakers/navjot.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Navjot Pawera</h3>
              <p>Sr. Product Manager at BubbleMotion &amp; Co-founder of Extra Thought<br>
                <span class="from">Singapore</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="How to defend the Web" href="http://funnel.hasgeek.com/metarefresh2013/621-how-to-defend-the-web"><img src="{{ theme_static('img/2013/speakers/shwetank.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Shwetank Dixit</h3>
              <p>Developer Relations Team at Opera Software<br>
                <span class="from">Chandigarh, India</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Getting Serious about Responsive web design" href="http://funnel.hasgeek.com/metarefresh2013/617-getting-serious-about-responsive-web-design"><img src="{{ theme_static('img/2013/speakers/arpan.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Arpan Chinta</h3>
              <p>Cross-device UI designer at HordeSoftware<br>
                <span class="from">Hyderabad, India</span></p>
          </div>
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="Overexposed" href="http://funnel.hasgeek.com/metarefresh2013/624-overexposed"><img src="{{ theme_static('img/2013/speakers/souvik.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Souvik Das Gupta</h3>
              <p>Designer at Miranj<br>
                <span class="from">New Delhi, India</span></p>
          </div>        
        </div>
        <div class="span3">
          <div class="speaker-img">
            <a target="_blank" title="BEM. Methodology, tools and libraries for building frontend" href="http://funnel.hasgeek.com/metarefresh2013/606-bem-methodology-tools-and-libraries-for-building-frontend"><img src="{{ theme_static('img/2013/speakers/varvara.png') }}" /></a>
          </div>
          <div class="speaker-name">
              <h3>Varvara Stepanova</h3>
              <p>Front-end Developer at Yandex<br>
                <span class="from">Moscow, Russia</span></p>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->