<section class="section">
  <div class="container">
    <div class="row">
      <div class="speakers">
        <div class="span3">
          <img src="{{ theme_static('img/2013/sponsors/fed-black.jpg') }}">
        </div>
        <div class="span3">
          <img src="{{ theme_static('img/2013/sponsors/Yandex Logo.png') }}">
        </div>
        <div class="span3">
          <img style="padding: 10px; background-color: #FFFFFF" src="{{ theme_static('img/2013/sponsors/IND_logo_editorial_darkgrey.jpg') }}">
        </div> 
      </div>
    </div>
  </div>
</section>
