<section class="section">
  <div class="container">
    <div class="sponsors">

      <div class="row"> 
        <h3>Event Sponsor</h3>
        <div class="span12">
          <div class="event-sponsor rect">
            <a target="_blank" href="http://www.cleartrip.com/"><img src="{{ theme_static('img/2013/sponsors/event-sponsors/cleartrip.png') }}" /></a>
          </div>
        </div>
      </div>

      <h3>Travel Sponsors</h3>
      <h4>These companies and institutions sponsored travel and accommodation for some of the speakers</h4>
      <div class="row">
        <div class="span3">
          <div class="travel-sponsor rect">
            <a target="_blank" href="http://www.swissnexindia.org/"><img src="{{ theme_static('img/2013/sponsors/travel-sponsors/swissnex.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="travel-sponsor rect">
            <a target="_blank" href="http://www.yandex.com/"><img src="{{ theme_static('img/2013/sponsors/travel-sponsors/yandex.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="travel-sponsor rect">
            <a target="_blank" href="http://www.adobe.com/"><img src="{{ theme_static('img/2013/sponsors/travel-sponsors/adobe.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="travel-sponsor rect">
            <a target="_blank" href="http://www.opera.com/"><img src="{{ theme_static('img/2013/sponsors/travel-sponsors/opera.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="travel-sponsor rect">
            <a target="_blank" href="http://miranj.in/"><img src="{{ theme_static('img/2013/sponsors/travel-sponsors/miranj.png') }}" /></a>
          </div>
        </div>
      </div>
      <h3>Community Partners</h3>
      <div class="row">
        <div class="span3">
          <div class="community-partner rect">
            <a target="_blank" href="http://cis-india.org/"><img src="{{ theme_static('img/2013/sponsors/community-partner/cis.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect">
            <a target="_blank" href="https://www.facebook.com/groups/bangalore.front.end/"><img src="{{ theme_static('img/2013/sponsors/community-partner/fed.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect">
            <a target="_blank" href="http://www.designday.co/"><img src="{{ theme_static('img/2013/sponsors/community-partner/designday.png') }}" /></a>
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect">
            <a target="_blank" href="http://www.bangalorejs.org/"><img src="{{ theme_static('img/2013/sponsors/community-partner/bangalorejs.png') }}" /></a>
          </div>
        </div>
      </div>
      <h3>Corporate Tickets</h3>
      <div class="row">
        <div class="span3">
          <div class="corporate-ticket rect">
            <a target="_blank" href="http://www.maas360.com/"><img src="{{ theme_static('img/2013/sponsors/corporate-ticket/fiberlink.png') }}" /></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
