<section class="section">
  <div class="container">
    <div class="sponsors">

      <div class="row"> 
        <h3>Event Sponsor</h3>
        <div class="span12">
          <div class="event-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/event-sponsors/cleartrip.png') }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <h3>Travel Sponsors</h3>
        <h4><a>( Sponsoring Speakers to Travel to the Event )</a></h4>
        <div class="span4">
          <div class="travel-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/travel-sponsors/swissnex.png') }}" />
          </div>
        </div>
        <div class="span4">
          <div class="travel-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/travel-sponsors/yandex.png') }}" />
          </div>
        </div>
        <div class="span4">
          <div class="travel-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/travel-sponsors/adobe.png') }}" />
          </div>
        </div>
        <div class="span4">
          <div class="travel-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/travel-sponsors/opera.png') }}" />
          </div>
        </div>
        <div class="span4">
          <div class="travel-sponsor rect">
            <img src="{{ theme_static('img/2013/sponsors/travel-sponsors/miranj.png') }}" />
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Community Partners</h3>
        <div class="span3">
          <div class="community-partner rect">
            <img src="{{ theme_static('img/2013/sponsors/community-partner/cis.png') }}" />
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect">
            <img src="{{ theme_static('img/2013/sponsors/community-partner/fed.png') }}" />
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect">
            <img src="{{ theme_static('img/2013/sponsors/community-partner/designday.png') }}" />
          </div>
        </div>
        <div class="span3">
          <div class="community-partner rect none">
            <p>Coming soon..</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Corporate Tickets</h3>
        <div class="span3">
          <div class="corporate-ticket rect">
            <img src="{{ theme_static('img/2013/sponsors/corporate-ticket/fiberlink.png') }}" />
          </div>
        </div>
        <div class="span3">
          <div class="corporate-ticket rect none">
            <p>Coming soon..</p>
          </div>
        </div>
        <div class="span3">
          <div class="corporate-ticket rect none">
            <p>Coming soon..</p>
          </div>
        </div>
        <div class="span3">
          <div class="corporate-ticket rect none">
            <p>Coming soon..</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
