<section class="section">
  <div class="container">
    <div class="section-header">
    </div>
    <div class="row map-box">
      
      <div class="span6">
        <div id="map" ></div>
 
      </div>
      <div class="span6">
        <div id="venue-detail">
          <h3>MLR Convention Centre</h3>
          <br />
          <h4><p>JP Nagar, Bangalore</p></h4>
          <br />
          <p>This year, Meta Refresh is at the MLR Convention Centre, JP Nagar, Bangalore <a href="http://www.mlr.in/jp-nagar/index.html">(more info)</a>. MLR’s world class facilities, carefully designed architectural details, and interior design make it a landmark on the city’s facilities.</p>
          <a class="btn btn-primary" target="_blank" href="https://maps.google.com/maps?q=MLR+Convention+Centre+-+Whitefield,+No.+35,+Dyavasandra,+4th+Cross,+Next+to+Fire+Station,,+Mahadevapura+Post,+Whitefield+Crossroad,+Near+Brigade+Metropolis,,+Bangalore,+Karnataka,+India&saddr=MLR+Convention+Centre+-+Whitefield,+No.+35,+Dyavasandra,+4th+Cross,+Next&daddr=Fire+Station,,+Mahadevapura+Post,+Whitefield+Crossroad,+Near+Brigade+Metropolis,,+Bangalore,+Karnataka,+India&hl=en&ll=12.99909,77.70172&spn=0.018441,0.01929&sll=12.953997,77.63094&sspn=0.590207,0.617294&geocode=FadZxgAdtqKhBCGUliW3PUp7Zik5TBKnnhGuOzGUliW3PUp7Zg%3BFadZxgAdtqKhBCGUliW3PUp7Zik5TBKnnhGuOzGUliW3PUp7Zg&oq=MLR+Convention+&t=v&z=16">
          Show Venue in Google Maps
        </a>
        </div>
        
        <a id="venue-image" href="http://www.mlr.in/jp-nagar/index.html"><img src="{{ theme_static('img/2013/venue.png') }}"></a>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /venue -->
