<section class="section">
  <div class="container">
    <div class="section-header">
    </div>
    <div class="row map-box">
      <div class="span6">
        {% with f = fragment('2013', 'venue-blurb') %}
          <div class="section-subheader">
            <h3>{{ f.title }}</h3>
          </div>
          {{ f.content }}
        {% endwith %}
        <a href="http://www.mlr.in/jp-nagar/index.html"><img src="{{ theme_static('img/2013/venue.png') }}"></a>
      </div>
      <div class="span6">
        <div id="map" class="map"></div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /venue -->
