<section class="section">
  <div class="container">
    <div class="section-header">
    </div>
    <div class="row map-box">
      
      <div class="span6">
        <div id="map" ></div>
 
      </div>
      <div class="span6">
        <div id="venue-detail">
          <h3>MLR Convention Centre</h3>
          <h4>JP Nagar, Bangalore</h4>
          <p>
            This year, Meta Refresh is at the MLR Convention Centre, JP Nagar, Bangalore <a href="http://www.mlr.in/jp-nagar/index.html">(more info)</a>. MLR’s world class facilities, carefully designed architectural details, and interior design make it a landmark on the city’s facilities.
          </p>
          <p>
            The event party is at the <a href="http://www.hhihotels.com/bengaluru/">HHI Select (formerly Hotel Emlion)</a> nearby.
          </p>
          <p>
            <a class="btn btn-primary" target="_blank" href="http://goo.gl/maps/iKIYY">Event venue in Google Maps</a>
            <a class="btn btn-primary" target="_blank" href="http://goo.gl/maps/CTsuI">Party venue</a>
          </p>
        </div>
        <a id="venue-image" href="http://www.mlr.in/jp-nagar/index.html"><img src="{{ theme_static('img/2013/venue.png') }}"></a>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /venue -->
